<main class="RePositioningContainer">
    <div class="text-center">
        <h2 class="RePositioningContainer-title"><?php echo $this->translate->t('Termék áthelyezési ajánlás számítás:'); ?></h2>
        <div class="Repositioning__text"><?=$productPositionEvent->count() > 0 ?  $this->translate->t('Számítás folyamatban.') : $this->translate->t('Jelenleg nincs folyamatban.')?></div>
        <div class="Repositioning__box">
            <?php if ($productPositionEvent->count() == 0) { ?>
                <a id="startRepositioning" class="btn btn-success"><i class="icon-play"></i> <?php echo $this->translate->t('Start'); ?></a>
            <?php } ?>
            <div class="progress <?=$productPositionEvent->count() > 0 ? '' : 'hide'?>">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</main>
<br />
<main class="PageContainer">

    <section class="Product">

        <article class="Product__detail">

            <section class="Detail__description">
                <header class="Detail__description-header">
                    <h2 class="Detail__description-title"><?php echo $this->translate->t('Termék adatok'); ?></h2>
                    <h3 class="Detail__description-name"></h3>
                    <img class="Details__description-img"src="/assets/images/web/dummyproduct.png" alt="gloves" class="Detail__description-image">
                </header>
            </section>

            <ul class="Detail__list">
                <li class="Detail__list-item"><span class="Detail__list-item-name"><?php echo $this->translate->t('Darab'); ?></span><span class="Detail__list-item-value Detail__list-item-value-count"></span></li>
                <li class="Detail__list-item"><span class="Detail__list-item-name"><?php echo $this->translate->t('Azonosító'); ?></span><span class="Detail__list-item-value"></span></li>
                <li class="Detail__list-item"><span class="Detail__list-item-name"><?php echo $this->translate->t('Térfogat'); ?></span><span class="Detail__list-item-value"></span></li>
                <li class="Detail__list-item"><span class="Detail__list-item-name"><?php echo $this->translate->t('Tömeg'); ?></span><span class="Detail__list-item-value"></span></li>
                <li class="Detail__list-item"><span class="Detail__list-item-name"><?php echo $this->translate->t('Fontossági pontszám'); ?></span><span class="Detail__list-item-value"></span></li>
                <li class="Detail__list-item"><span class="Detail__list-item-name"><?php echo $this->translate->t('Átlag rendelési mennyiség'); ?></span><span class="Detail__list-item-value"></span></li>
                <li class="Detail__list-item"><span class="Detail__list-item-name"><?php echo $this->translate->t('Rendelési Valószínűség'); ?></span><span class="Detail__list-item-value"></span></li>
            </ul>

        </article>

        <article class="Product__search">
            <header class="Product__search-header">
                <h2 class="PageContainer__title"><?php echo $this->translate->t('product (áthelyezési javaslat)'); ?></h2>
                <section class="Search__searchbar-container">
                    <input type="text" class="Search__searchbar" placeholder="<?php echo $this->translate->t('keresés'); ?>">
                    <button class="Search__searchbar-icon">
                        <svg height="32px" version="1.1" viewBox="0 0 32 32" width="32px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#DCDCDC" id="icon-111-search"><path d="M19.4271164,21.4271164 C18.0372495,22.4174803 16.3366522,23 14.5,23 C9.80557939,23 6,19.1944206 6,14.5 C6,9.80557939 9.80557939,6 14.5,6 C19.1944206,6 23,9.80557939 23,14.5 C23,16.3366522 22.4174803,18.0372495 21.4271164,19.4271164 L27.0119176,25.0119176 C27.5621186,25.5621186 27.5575313,26.4424687 27.0117185,26.9882815 L26.9882815,27.0117185 C26.4438648,27.5561352 25.5576204,27.5576204 25.0119176,27.0119176 L19.4271164,21.4271164 L19.4271164,21.4271164 Z M14.5,21 C18.0898511,21 21,18.0898511 21,14.5 C21,10.9101489 18.0898511,8 14.5,8 C10.9101489,8 8,10.9101489 8,14.5 C8,18.0898511 10.9101489,21 14.5,21 L14.5,21 Z" id="search"/></g></g></svg>
                    </button>
                </section>
            </header>

                <section class="Product__list-headers">
                    <span class="Product__list-headers-name"><?php echo $this->translate->t('Név'); ?></span>
                    <span class="Product__list-headers-amount"><?php echo $this->translate->t('darab'); ?></span>
                </section>
                <ul class="Search__list">
                    <?php foreach($products as $product) { ?>
                        <li class="Product__list-item" data-productid="<?=$product["productId"]?>">
                                <span class="Product__list-item-name"><?=$product["name"]?></span><span class="Product__list-item-value"><?=$product["db"]?></span>
                        </li>
                    <?php } ?>
                </ul>

        </article>

        <article class="Product__position">

            <header class="Product__position-header">
                <h2 class="PageContainer__title"><?php echo $this->translate->t('product (áthelyezési javaslat)'); ?></h2>
            </header>

            <section class="Product__list-headers Product__list-headers--high-margin">
                    <span class="Product__list-headers-name"><?php echo $this->translate->t('jelenlegi pozíció'); ?></span>
                    <span class="Product__list-headers-value"><?php echo $this->translate->t('javasolt pozíció'); ?></span>
            </section>
            <ul class="Position__list">
                <?php /*
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item --blue-list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                <li class="Product__list-item"><span class="Product__list-item-name">x20y20z50</span><span class="Product__list-item-value">x30y30z60</span></li>
                */ ?>
            </ul>

        </article>

    </section>

    <section class="TopView">

        <article class="TopView__wrapper">
            <header class="TopView__header">
                <h2 class="PageContainer__title"><?php echo $this->translate->t('top view (before position)'); ?></h2>
            </header>
            <section class="TopView__container">
                <section class="TopView__rectangle">
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                </section>
                <section class="TopView__rectangle">
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square --yellow-square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                </section>
                <section class="TopView__rectangle">
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                </section>
            </section>
        </article>

        <article class="TopView__wrapper">
            <header class="TopView__header">
                <h2 class="PageContainer__title"><?php echo $this->translate->t('top view (after position)'); ?></h2>
            </header>
            <section class="TopView__container">
                <section class="TopView__rectangle">
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                </section>
                <section class="TopView__rectangle">
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                </section>
                <section class="TopView__rectangle">
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square"></section>
                    <section class="TopView__square --blue-square"></section>
                    <section class="TopView__square"></section>
                </section>
            </section>
        </article>

    </section>

        <section class="FrontView">

            <article class="FrontView__container">
                <section class="FrontView__wrapper">
                    <header>
                        <h2 class="PageContainer__title"><?php echo $this->translate->t('front view'); ?></h2>
                    </header>
                    <section class="FrontView__rectangle">
                        <section class="FrontView__square"></section>
                        <section class="FrontView__square"></section>
                        <section class="FrontView__square"></section>
                        <section class="FrontView__square --yellow-square"></section>
                        <section class="FrontView__square"></section>
                        <section class="FrontView__square"></section>
                    </section>
                    <footer>
                        <h2 class="PageContainer__title"><?php echo $this->translate->t('before position'); ?></h2>
                    </footer>
                </section>

                <section class="FrontView__wrapper">
                    <header>
                        <h2 class="PageContainer__title"><?php echo $this->translate->t('front view'); ?></h2>
                    </header>
                    <section class="FrontView__rectangle">
                        <section class="FrontView__square"></section>
                        <section class="FrontView__square --blue-square"></section>
                        <section class="FrontView__square"></section>
                        <section class="FrontView__square"></section>
                        <section class="FrontView__square"></section>
                        <section class="FrontView__square"></section>
                    </section>
                    <footer>
                        <h2 class="PageContainer__title"><?php echo $this->translate->t('after position'); ?></h2>
                    </footer>
                </section>
            </article>
            <article class="FrontView__container">
                <button class="FrontView__button-export"><?php echo $this->translate->t('termék áthelyezési javaslat exportálása'); ?></button>
            </article>

        </section>

</main>

