<footer>
    <table class="footer">
        <tbody>
        <tr>
            <td>
                <p>ADSL</p>
            </td>
            <td><?=$this->translate->t('Oldal'); ?>:&nbsp;<span class="page"></span>&nbsp;/&nbsp;<span class="topage"></span></td>
        </tr>
        </tbody>
    </table>
</footer>
