<script type="text/javascript">
    $(document).ready(function () {

        var table = $('#dataTablePatientBrowse').DataTable({
            ajax: {
                url: '<?=$urls['dataTable']?>',
                method: 'POST'
                , data: function (d) {
                    d.builderParams = <?= json_encode($builderParams ?: []); ?>;
                }
            },
            columns: [
                {data: "patientId"},
                {data: "chipIdentifier"},
                {data: "ownerName"},
                {data: "patientName"},
                {data: "birthDateAt"},
                {data: "speciesName"},
                {data: "breedName"},
                {data: "sex"},
                {data: "asexual"},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        return '<button title="' + Translate._('Kiválasztás') + '" data-popup="tooltip" class="btn btn-default" data-entity="' + encodeURI(JSON.stringify(data)) + '"><i class="icon-target"></i> ' + Translate._('Kiválasztás') + '</button>';
                    }
                }
            ],
            buttons: []
        });

        $('#dataTablePatientBrowse tbody').on('click', 'button', function () {
            var crudBrowseModal = CrudBrowseModalRegistry.get();
            if (crudBrowseModal) {
                crudBrowseModal.select(
                    JSON.parse(decodeURI($(this).data('entity')))
                );
            }
        });
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTablePatientBrowse" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?php echo $this->translate->t('ID'); ?></th>
                <th><?php echo $this->translate->t('Chip'); ?></th>
                <th><?php echo $this->translate->t('Tulajdonos neve'); ?></th>
                <th><?php echo $this->translate->t('Név'); ?></th>
                <th><?php echo $this->translate->t('Születési dátum'); ?></th>
                <th><?php echo $this->translate->t('Faj'); ?></th>
                <th><?php echo $this->translate->t('Fajta'); ?></th>
                <th><?php echo $this->translate->t('Ivar'); ?></th>
                <th><?php echo $this->translate->t('Ivartalanított'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
