<script type="text/javascript">
    $(document).ready(function () {
        var datatableButtons = [];

        if (Acl.isAllowed('<?= $resourceId; ?>', 'export')) {
            var btnCurrentPage = function(url) {
                return {
                    text: Translate._('Aktuális oldal'),
                    action: function(e, dt, node, config) {
                        var ids     = [];
                        var columns = [];

                        table.columns().visible().map(function(visible, i){
                            var column = table.column(i).dataSrc();
                            if (column && visible) {
                                columns.push(column);
                            }
                        });

                        table.column(0).data().toArray().map(function (id) {
                            ids.push(id);
                        });

                        document.location.href = url +'?ids=' + ids.join(',') + '&columns=' + columns.join(',');
                    }
                }
            };

            var btnAllPages = function(url) {
                return {
                    text: Translate._('Összes oldal'),
                    action: function (e, dt, node, config) {
                        var columns = [];

                        table.columns().visible().map(function(visible, i){
                            var column = table.column(i).dataSrc();
                            if (column && visible) {
                                columns.push(column);
                            }
                        });

                        document.location.href = url + '?columns=' + columns.join(',');
                    }
                }
            }

            var xlsUrl = '<?=$urls['export'];?>';
            var pdfUrl = '<?=$urls['export'];?>/0/0/1';

            datatableButtons.push([
                {
                    extend: 'collection',
                    text: '<i class="icon-file-excel"></i>',
                    className: 'btn btn-default',
                    buttons: [btnCurrentPage(xlsUrl), btnAllPages(xlsUrl)]
                }
                , {
                    extend: 'collection',
                    text: '<i class="icon-file-pdf"></i>',
                    className: 'btn btn-default',
                    buttons: [btnCurrentPage(pdfUrl), btnAllPages(pdfUrl)]
                }
            ]);
        }



        var table = $('#dataTablePatient').DataTable({
            ajax: {
                url: '<?=$urls['dataTable']?>',
                method: 'POST'
            },
            columns: [
                {data: "patientId"},
                {data: "chipIdentifier"},
                {data: "ownerName"},
                {data: "patientName"},
                {data: "birthDateAt"},
                {data: "speciesName"},
                {data: "breedName"},
                {data: "sex"},
                {data: "asexual"},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        var buttonStr = "";
                        if(Acl.isAllowed('<?=$resourceId?>', 'view')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Áttekintés') + '" data-popup="tooltip" class="btn btn-default row-view" data-id="' + full.patientId + '"><i class="icon-eye"></i> </button>'
                                + '&nbsp;';
                        }
                        if(Acl.isAllowed('<?=$resourceId?>', 'modify')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Módosítás') + '" data-popup="tooltip" class="btn btn-default row-modify" data-id="' + full.patientId + '"><i class="icon-pencil3"></i> </button>'
                                + '&nbsp;';
                        }
                        if(Acl.isAllowed('<?=$resourceId?>', 'delete')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Törlés') + '" data-popup="tooltip" class="btn btn-default row-delete" data-id="' + full.patientId + '" data-toggle="modal" data-target="#patientDeleteModal"><i class="icon-trash"></i> </button>'
                                + '&nbsp;';
                        }
                        return buttonStr;
                    }
                }
            ],
            buttons: datatableButtons
        });

        $('#dataTablePatient tbody').on('click', 'button', function () {
            var $button = $(this);

            if ($button.hasClass('row-view')) {
                document.location.href='<?=$urls['view']?>/' + $button.data('id');
                return;
            }

            if ($button.hasClass('row-modify')) {
                document.location.href='<?=$urls['modify']?>/' + $button.data('id');
                return;
            }
        });
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTablePatient" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?php echo $this->translate->t('ID'); ?></th>
                <th><?php echo $this->translate->t('Chip'); ?></th>
                <th><?php echo $this->translate->t('Tulajdonos neve'); ?></th>
                <th><?php echo $this->translate->t('Név'); ?></th>
                <th><?php echo $this->translate->t('Születési dátum'); ?></th>
                <th><?php echo $this->translate->t('Faj'); ?></th>
                <th><?php echo $this->translate->t('Fajta'); ?></th>
                <th><?php echo $this->translate->t('Ivar'); ?></th>
                <th><?php echo $this->translate->t('Ivartalanított'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<?php $this->partial("partials/modals/delete", array('className' => 'patient', 'deleteUrl' => $urls['delete'])); ?>

