<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-bold">
            <?php echo $this->translate->t('Tulajdonos'); ?>
        </h6>
    </div>
    <div class="panel-body" id="panelOwner">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Név'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?php echo $model->getOwner()->getName(); ?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Típus'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?= \App\Model\Owner::getOwnerTypeValue($model->getOwner()->ownerType) ;?>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-bold">
            <?php echo $this->translate->t('Páciens'); ?>
        </h6>
    </div>
    <div class="panel-body " id="panelPatient">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Név'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?php echo $model->patientName; ?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Faj'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?=$model->species->name;?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Fajta'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?=$model->getBreed()->name;?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Születési dátum'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?=$model->birthDateAt;?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Ivar'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?= $model->sex ? \App\Model\Patient::getSexValue($model->sex) : '';?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Ivartalanított'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?=$this->tag->label($model->asexual, \App\Model\Patient::getBooleanValue($model->asexual));?>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-bold">
            <?php echo $this->translate->t('Azonosítók'); ?>
        </h6>
    </div>
    <div class="panel-body" id="panelIdentifier">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Chip azonosító'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?php echo $model->chipIdentifier; ?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Chip beültetés időpontja'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?=$model->chipPlantationDateAt;?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Tetoválás'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?=$model->tattoo;?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Útlevél száma'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?=$model->passportNumber;?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Egyéb azonosító'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?=$model->otherIdentifier;?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Publikus megjegyzés'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?=$model->comment;?>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

