<script type="text/javascript">

    var table;

    $(document).ready(function () {

        var datatableButtons = [];

        table = $('#dataTableTag').DataTable({
            ajax: {
                url: '<?= $urls['dataTable']; ?>',
                method: 'POST',
                data: function (d) {
                    d.builderParams = SearchBar.getParams();
                }
            },
            columns: [
                {data: "tagId"},
                {data: "name"},
                {data: "type"},
                {data: "description"},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        var buttonStr = "";

                        if(Acl.isAllowed('<?= $resourceId; ?>', 'modify')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Módosítás') + '" data-popup="tooltip"  class="btn btn-default row-modify" data-id="' + full.tagId + '"><i class="icon-pencil3"></i> </button>'
                                + '&nbsp;';
                        }

                        if(Acl.isAllowed('admin.tag', 'change')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Váltás') + '" data-popup="tooltip"  class="btn btn-default row-change" data-id="' + full.tagId + '"><i class="icon-users2"></i> </button>'
                                + '&nbsp;';
                        }

                        if(Acl.isAllowed('<?= $resourceId; ?>', 'delete')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Törlés') + '" data-popup="tooltip"  class="btn btn-default row-delete" data-id="' + full.tagId + '" data-toggle="modal" data-target="#userDeleteModal"><i class="icon-trash"></i> </button>'
                                + '&nbsp;';
                        }

                        return buttonStr;
                    }
                }
            ],
            buttons: datatableButtons
        });

        $('#dataTableTag tbody').on('click', 'button', function () {
            var $button = $(this);

            if ($button.hasClass('row-modify')) {
                document.location.href='<?= $urls['modify']; ?>/' + $button.data('id');
                return;
            }

            if ($button.hasClass('row-change')) {
                document.location.href='/admin/auth/change/' + $button.data('id');
                return;
            }
        });
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableTag" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?php echo $this->translate->t('Azonosító'); ?></th>
                <th><?php echo $this->translate->t('Név'); ?></th>
                <th><?php echo $this->translate->t('Típus'); ?></th>
                <th><?php echo $this->translate->t('Leírás'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<?php $this->partial("partials/modals/delete", array('className' => 'user', 'deleteUrl' => $urls['delete'])); ?>
<?php $this->partial("partials/modals/send", array('url' => $urls['send'])); ?>
