<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title text-bold"><?=$this->translate->_('Eggyezés')?></h6>
            </div>
            <div class="panel-body"><?=$matchesCount?></div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title text-bold"><?=$this->translate->_('Hiány')?></h6>
            </div>
            <div class="panel-body"><?=$deficitCount?></div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title text-bold"><?=$this->translate->_('Többlet')?></h6>
            </div>
            <div class="panel-body"><?=$excessCount?></div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-bold">
            <?php echo $this->translate->t('Leltározás lista'); ?> - <?=$product->name?>
        </h6>
    </div>
    <div class="panel-body" id="panelItem">
        <table class="table table-striped table-bordered dataTable no-footer dtr-inline">
            <tr>
                <td class="text-bold"><?=$this->translate->t('Státusz')?></td>
                <td class="text-bold"><?=$this->translate->t('Azonosító')?></td>
                <td class="text-bold"><?=$this->translate->t('Név')?></td>
                <td class="text-bold"><?=$this->translate->t('Leltározás kezdete')?></td>
                <td class="text-bold"><?=$this->translate->t('Leltározás vége')?></td>
                <td class="text-bold"><?=$this->translate->t('Rfid')?></td>
                <td class="text-bold"><?=$this->translate->t('Koordináta')?></td>
            </tr>
            <?php foreach($productList as $product) { ?>
                <tr>
                    <td class="<?=$product->matches ? 'success' : 'danger'?> text-center" width="10%">
                        <i class="<?=$product->matches ? 'icon-checkmark5' : 'icon-x'?>"></i>
                    </td>
                    <td class="<?=$product->matches ? 'success' : 'danger'?>  text-center" width="10%">
                        <?=$product->productId?>
                    </td>
                    <td class="<?=$product->matches ? 'success' : 'danger'?>">
                        <?=$product->name?>
                    </td>
                    <td class="<?=$product->matches ? 'success' : 'danger'?>">
                        <?=$inventoryEvent->startTime?>
                    </td>
                    <td class="<?=$product->matches ? 'success' : 'danger'?>">
                        <?=$inventoryEvent->endTime?>
                    </td>
                    <td class="<?=$product->matches ? 'success' : 'danger'?>">
                        <?=$product->rfid?>
                    </td>
                    <td class="<?=$product->matches ? 'success' : 'danger'?>">
                        <?php if($product->matches) { ?>
                            <?=$product->latitude?>, <?=$product->longitude?>
                        <?php } else { ?>
                            -
                        <?php } ?>
                    </td>
                </tr>
            <?php } ?>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-bold">
            <?php echo $this->translate->t('Többlet RFIDk'); ?>
        </h6>
    </div>
    <div class="panel-body" id="panelItem">
        <table class="table table-striped table-bordered dataTable no-footer dtr-inline">
            <tr>
                <td class="text-bold"><?=$this->translate->t('Azonosító')?></td>
                <td class="text-bold"><?=$this->translate->t('Rfid')?></td>
                <td class="text-bold"><?=$this->translate->t('X, Y, Z')?></td>
                <td class="text-bold"><?=$this->translate->t('Pontosság')?></td>
                <td class="text-bold"><?=$this->translate->t('Koordináta')?></td>
            </tr>
            <?php foreach($excessList as $inventoryStatusElement) { ?>
                <tr>
                    <td>
                        <?=$inventoryStatusElement->inventoryStatusId?>
                    </td>
                    <td>
                        <?=$inventoryStatusElement->rfid?>
                    </td>
                    <td>
                        <?=$inventoryStatusElement->x?>, <?=$inventoryStatusElement->y?>, <?=$inventoryStatusElement->z?>
                    </td>
                    <td>
                        <?=$inventoryStatusElement->accuracy?>
                    </td>
                    <td>
                        <?=$inventoryStatusElement->latitude?>, <?=$inventoryStatusElement->longitude?>
                    </td>
                </tr>
            <?php } ?>
        </table>
    </div>
</div>

