<script type="text/javascript">
    $(document).ready(function () {

        var buttons = [];

        if (Acl.isAllowed('<?=$resourceId;?>', 'assignHasMany')) {
            buttons.push({
                text        : '<i class="icon-search4"></i> ' + Translate._('Tallózás')
                , className : 'btn btn-default'
                , action    : function (e, dt, node, config) {
                    var crudBrowseModal = new CrudBrowseModal('item');
                    crudBrowseModal
                        .setCallbacks({
                            select : function(entity){
                                document.location.href = '<?=$urls['assignHasMany'];?>/' + entity.itemId;
                            }
                            , builderParams: <?= json_encode($builderParams ?: []); ?>
                        })
                        .browse($(node))
                    ;
                }
            });
        }

        var table = $('#dataTableItem').DataTable({
            ajax: {
                url: '<?=$urls['dataTableHasMany']?>',
                method: 'POST'
            },
            columns: [
                {
                    data: null,
                    searchable: false,
                    targets: -1,
                    "render": function ( data, type, full, meta ) { return '<i class="icon-menu"></i>'}
                },
                {data: "position", visible:false, orderable: false},
                {data: "itemIdentifier", orderable: false},
                {data: "name", orderable: false},
                {data: "price", orderable: false},
                {data: "canBePriced", orderable: false},
                {data: "monitoringDiscount", orderable: false},
                {data: "quantitativeDiscount", orderable: false},
                {data: "denied", orderable: false}
            ],
            ordering: false,
            rowReorder: {
                dataSrc: 'position',
                selector: 'td:first-child'
            },
            columnDefs: [
                { orderable: true, className: 'reorder', targets: 0 },
                { orderable: false, targets: '_all' }
            ],

            buttons: buttons
        });

        $('#dataTableItem tbody').on('click', 'button', function () {
            var $button = $(this);

            if ($button.hasClass('row-modify')) {
                document.location.href='<?=$urls['modifyHasMany']?>/' + $button.data('id');
                return;
            }
        });

        table.on('row-reorder', function ( e, diff, edit ) {
            var sortabledRows = [];
            for ( var i=0, ien=diff.length ; i<ien ; i++ ) {
                sortabledRows.push({
                    itemId: table.rows( diff[i].node ).data()[0].itemId,
                    newPosition: diff[i].newData
                });
            }
            $.ajax({
                url: '<?=$urls['ajaxHasMany']?>',
                data: {data: sortabledRows},
                type: 'POST',
                async: false
            });
        });

    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableItem" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th></th>
                <th><?php echo $this->translate->t('Pozíció'); ?></th>
                <th><?php echo $this->translate->t('Azonosító'); ?></th>
                <th><?php echo $this->translate->t('Név'); ?></th>
                <th><?php echo $this->translate->t('Nettó ár'); ?></th>
                <th><?php echo $this->translate->t('Árazható'); ?></th>
                <th><?php echo $this->translate->t('Monitoring kedvezmény'); ?></th>
                <th><?php echo $this->translate->t('Mennyiségi kedvezmény'); ?></th>
                <th><?php echo $this->translate->t('Tiltott'); ?></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
