.searchForm {

    .autocomplete-loader {
        top: inherit;
        bottom: 0;
    }
}

.autocomplete-loader {
    display: none;
}

.ui-autocomplete-loading {
    background-color: #f4f4f4;
}

.ui-autocomplete-loading ~ .autocomplete-loader {
    display: block;
}

.ui-autocomplete-loading ~ .form-control-feedback:not(.autocomplete-loader) {
    display: none;
}

.ui-autocomplete {
    z-index: 1100;
}