<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Név'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?php echo $address->addressName; ?>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Település'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?php echo $address->settlement; ?>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Irányítószám'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?php echo $address->zip; ?>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Ország'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?php echo $address->country; ?>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Régió'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?php echo $address->region; ?>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Cím'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?php echo $address->line1; ?>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Cím 2'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?php echo $address->line2; ?>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Típus'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?php foreach ($address->getAddressTypesAsArray() as $addressType): ?>
                    <?=$this->tag->label($addressType, \App\Model\Address::getAddressTypeValue($addressType)); ?>
                <?php endforeach; ?>
            </p>
        </div>
    </div>
</div>
