<div id="IMapRoot"></div>

<script>

// check base.php 'realtimeMap'
var gatewayId  = '<?=$this->di->get('config')['realtimeMap']['gatewayId']?>';
// it works only if the url is the same as where the cloud data node server is running
var apiUrl     = '<?=$this->di->get('config')['url']['baseUri']?>';
var wsCloudUrl = '<?=$this->di->get('config')['realtimeMap']['wsCloudUrl']?>';
var wsCloudBasicAuth = '<?=$this->di->get('config')['realtimeMap']['wsCloudBasicAuth']?>';
// check base.php 'realtimeMap'
var apiVersion = '<?=$this->di->get('config')['realtimeMap']['apiVersion']?>';

var mapShapes = <?=$mapData->mapSvg ? $mapData->mapSvg : '[]'?>;

var mapStretchingProperties = {
    projection: '<?=$mapData->projection?>',
    topLatitude: <?=$mapData->topLatitude ? $mapData->topLatitude : 0?>,
    bottomLatitude: <?=$mapData->bottomLatitude ? $mapData->bottomLatitude : 0?>,
    leftLongitude: <?=$mapData->leftLongitude ? $mapData->leftLongitude : 0?>,
    rightLongitude: <?=$mapData->rightLongitude ? $mapData->rightLongitude : 0?>
};

var tags = <?=json_encode($tags); ?>;

$( document ).ready(function() {
    var tagOptions = [];
    var tagsInfo = {};
    for(var i = 0; i < tags.length; i++) {
        tagOptions.push({
            value: tags[i].tagToken, // tagToken -re van szűrés a cloud data-ban, nem tagId-ra ...
            label: tags[i].name 
        });
        tagsInfo[tags[i].tagToken] = {
            title: tags[i].name,
            description: tags[i].description
        };
    }

    window.IPage.init(
      document.getElementById('IMapRoot'),
      {
        showRealTimeFilter: true,
        socket: {
          url: wsCloudUrl + '/gateways/' + gatewayId + '/ips',
          authorization: wsCloudBasicAuth,
          eventNames: {
            getData: 'mapdata',
            emitFilter: {
              tag: 'setrealtimefilter'
            },
          },
        },
        tagsInfo: tagsInfo,
        realTimeFilterOptions: {
          tagOptions: tagOptions
        },
        intervalFilter: {
          method: 'get',
          url: wsCloudUrl + '/api/' + apiVersion + '/' + 'gateways/' + gatewayId + '/route',
          data: {}
        },
        mapStretchingProperties: mapStretchingProperties,
        mapShapes: mapShapes,
        fixedTags: [
          {
            id: 'anchor_1',
            title: 'Anchor 1',
            description: 'Anchor 1',
            latitude: 47.61626770708437,
            longitude: 19.114969456042004,
            type: 'circle',
            color: '#ffe100',
          },
          {
            id: 'anchor_2',
            title: 'Anchor 2',
            description: 'Anchor 2',
            latitude: 47.61620049504268,
            longitude: 19.1151102992243,
            type: 'circle',
            color: '#ffe100',
          },
          {
            id: 'anchor_3',
            title: 'Anchor 3',
            description: 'Anchor 3',
            latitude: 47.61632502546357,
            longitude: 19.115001078705777,
            type: 'circle',
            color: '#ffe100',
          },
          {
            id: 'anchor_4',
            title: 'Anchor 4',
            description: 'Anchor 4',
            latitude: 47.61641321801873,
            longitude: 19.114878927064943,
            type: 'circle',
            color: '#ffe100',
          },
          {
            id: 'anchor_5',
            title: 'Anchor 5',
            description: 'Anchor 5',
            latitude: 47.61631260301099,
            longitude: 19.115172149783607,
            type: 'circle',
            color: '#ffe100',
          },
        ],
      }
    )
    });

</script>