<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#dataTableAcl').DataTable({
            ajax: {
                url: '<?=$urls['dataTable']?>',
                method: 'POST'
            },
            columns: [
                {data: "roleId", searchable: false},
                {data: "roleName"},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        var buttonStr = "";

                        if(Acl.isAllowed('<?=$resourceId?>', 'modify')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Módosítás') + '" data-popup="tooltip" class="btn btn-default row-modify" data-id="' + data.roleId + '"><i class="icon-pencil3"></i> </button>'
                                + '&nbsp;';
                        }

                        if(Acl.isAllowed('<?=$resourceId?>', 'delete')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Törlés') + '" data-popup="tooltip" class="btn btn-default row-delete" data-id="' + data.roleId + '" data-toggle="modal" data-target="#aclDeleteModal"><i class="icon-trash"></i> </button>'
                                + '&nbsp;';
                        }

                        return buttonStr;

                    }
                }
            ],
            buttons: [

            ]
        });

        $('#dataTableAcl tbody').on('click', 'button', function () {
            var $button = $(this);

            if ($button.hasClass('row-modify')) {
                document.location.href='<?=$urls['modify']?>/' + $button.data('id');
                return;
            }
        } );
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableAcl" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?= $this->translate->t('Azonosító'); ?></th>
                <th><?= $this->translate->t('Szerepkör'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<?php $this->partial("partials/modals/delete", array('className' => 'acl', 'deleteUrl' => $urls['delete'])); ?>
