<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Elérhetőség típusa'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?= $availability->getName() ;?>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Elsődleges'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?= $this->tag->label($availability->primary, \App\Model\Availability::getBooleanValue($availability->primary)) ;?>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Érték'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?php echo $availability->value; ?>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="control-label col-lg-2">
            <?php echo $this->translate->t('Megjegyzés'); ?>
        </label>
        <div class="col-lg-10">
            <p>
                <?php echo $availability->comment; ?>
            </p>
        </div>
    </div>
</div>