<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <div class="text-center">
                    <div class="icon-object border-warning text-warning">
                        <i class="icon-earth"></i>
                    </div>
                    <h6 class="text-semibold"><?=$this->translate->t('Az Ön böngészője nem támogatott.'); ?></h6>
                    <p class="mb-15"><?=$this->translate->t('Kérem, telepítse valamely támogatott böngészőt a megfelelő linkre kattintva.'); ?></p>
                </div>
                <div class="content-group">
                    <div class="supported-browser-list">
                        <?php if(isset($supportedBrowsers['desktop']['Firefox'])): ?>
                            <div class="supported-browser-element">
                                <a href="https://www.mozilla.org/en-US/firefox"
                                   target="_blank"
                                   class="btn btn-default btn-block btn-float btn-float-lg"
                                >
                                    <i class="icon-firefox"></i>
                                    <span><?=$this->translate->t('Mozilla Firefox %version%+', ['version' => $supportedBrowsers['desktop']['Firefox']]);?></span>
                                </a>
                            </div>
                        <?php endif; ?>
                        <?php if(isset($supportedBrowsers['desktop']['Chrome'])): ?>
                            <div  class="supported-browser-element">
                                <a href="https://www.google.com/chrome/index.html"
                                   target="_blank"
                                   class="btn btn-default btn-block btn-float btn-float-lg"
                                >
                                    <i class="icon-chrome"></i>
                                    <span><?=$this->translate->t('Google Chrome %version%+', ['version' => $supportedBrowsers['desktop']['Chrome']]);?></span>
                                </a>
                            </div>
                        <?php endif; ?>
                        <?php if(isset($supportedBrowsers['desktop']['Internet Explorer'])): ?>
                            <div class="supported-browser-element">
                                <a href="https://www.microsoft.com/hu-hu/download/internet-explorer.aspx"
                                   target="_blank"
                                   class="btn btn-default btn-block btn-float btn-float-lg"
                                >
                                    <i class="icon-IE"></i>
                                    <span><?=$this->translate->t('Internet Explorer %version%+', ['version' => $supportedBrowsers['desktop']['Internet Explorer']]);?></span>
                                </a>
                            </div>
                        <?php endif; ?>
                        <?php if(isset($supportedBrowsers['desktop']['Safari'])): ?>
                            <div  class="supported-browser-element">
                                <a href="https://support.apple.com/downloads/safari"
                                   target="_blank"
                                   class="btn btn-default btn-block btn-float btn-float-lg"
                                >
                                    <i class="icon-safari"></i>
                                    <span><?=$this->translate->t('Safari %version%+', ['version' => $supportedBrowsers['desktop']['Safari']]);?></span>
                                </a>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

