<form method="post" autocomplete="off">
    <div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-warning text-warning"><i class="icon-key"></i></div>
            <h5 class="content-group">
                <?php echo $this->translate->t('Jelszó változtatása'); ?>
                <small class="display-block">
                    <?php echo $this->translate->t('Kérem, adja meg új jelszavát!'); ?>
                    <?php echo $this->translate->t('A jelszónak tartalmaznia kell kis és nagybetűt valamint számot és minimum 8 karakter hosszúnak kell lennie!'); ?>
                </small>
            </h5>
        </div>

        <?php echo $this->flashSession->output(); ?>
        <?php echo $this->getContent(); ?>

        <div class="form-group has-feedback">
            <input type="password"
                   class="form-control"
                   placeholder="<?php echo $this->translate->t('Új jelszó ...'); ?>"
                   name="password">
            <div class="form-control-feedback">
                <i class="icon-lock text-muted"></i>
            </div>

            <?php echo $this->tag->formElementMessages($form->getMessagesFor('password')); ?>
        </div>

        <div class="form-group has-feedback">
            <input type="password"
                   class="form-control"
                   placeholder="<?php echo $this->translate->t('Új jelszó ismétlése ...'); ?>"
                   name="passwordRepeat">
            <div class="form-control-feedback">
                <i class="icon-lock text-muted"></i>
            </div>

            <?php echo $this->tag->formElementMessages($form->getMessagesFor('passwordRepeat')); ?>
        </div>

        <div class="form-group">
            <button type="submit" class="btn bg-blue btn-block">
                <i class="icon-arrow-right14"></i> <?php echo $this->translate->t('Jelszó mentése'); ?>
            </button>
        </div>

        <div class="text-center">
            <a href="/admin/auth"><?php echo $this->translate->t('Vissza a bejelentkezéshez'); ?></a>
        </div>
    </div>
</form>

