<form method="post">
    <div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
            <h5 class="content-group">
                <?php echo $this->translate->t('Elfelejtett jelszó'); ?>
                <small class="display-block">
                    <?php echo $this->translate->t('Kérjük, adja meg regisztrációnál használt e-mail címét!'); ?>
                </small>
            </h5>
        </div>

        <?php echo $this->flashSession->output(); ?>
        <?php echo $this->getContent(); ?>

        <div class="form-group has-feedback">
            <input type="email"
                   class="form-control"
                   placeholder="<?php echo $this->translate->t('E-mail ...'); ?>"
                   name="email">
            <div class="form-control-feedback">
                <i class="icon-mail5 text-muted"></i>
            </div>

            <?php echo $this->tag->formElementMessages($form->getMessagesFor('email')); ?>
        </div>

        <div class="form-group">
            <button type="submit" class="btn bg-blue btn-block">
                <i class="icon-arrow-right14"></i> <?php echo $this->translate->t('Ok'); ?>
            </button>
        </div>

        <div class="text-center">
            <a href="/admin/auth"><?php echo $this->translate->t('Vissza a bejelentkezéshez'); ?></a>
        </div>
    </div>
</form>