<script type="text/javascript">

    var table;

    $(document).ready(function () {

        var datatableButtons = [];

        if (Acl.isAllowed('<?= $resourceId; ?>', 'export')) {
            var btnCurrentPage = function(url) {
                return {
                    text: Translate._('Aktuális oldal'),
                    action: function(e, dt, node, config) {
                        var ids     = [];
                        var columns = [];

                        table.columns().visible().map(function(visible, i){
                            var column = table.column(i).dataSrc();
                            if (column && visible) {
                                columns.push(column);
                            }
                        });

                        table.column(4).data().toArray().map(function (id) {
                            ids.push(id);
                        });

                        document.location.href = url +'?ids=' + ids.join(',') + '&columns=' + columns.join(',');
                    }
                }
            };

            var btnAllPages = function(url) {
                return {
                    text: Translate._('Összes oldal'),
                    action: function (e, dt, node, config) {
                        var columns = [];

                        table.columns().visible().map(function(visible, i){
                            var column = table.column(i).dataSrc();
                            if (column && visible) {
                                columns.push(column);
                            }
                        });

                        document.location.href = url + '?columns=' + columns.join(',');
                    }
                }
            }

            var xlsUrl = '<?=$urls['export'];?>';
            var pdfUrl = '<?=$urls['export'];?>/0/0/1';

            datatableButtons.push([
                {
                    extend: 'collection',
                    text: '<i class="icon-file-excel"></i>',
                    className: 'btn btn-default',
                    buttons: [btnCurrentPage(xlsUrl), btnAllPages(xlsUrl)]
                }
                , {
                    extend: 'collection',
                    text: '<i class="icon-file-pdf"></i>',
                    className: 'btn btn-default',
                    buttons: [btnCurrentPage(pdfUrl), btnAllPages(pdfUrl)]
                }
            ]);
        }

        table = $('#dataTableUser').DataTable({
            ajax: {
                url: '<?= $urls['dataTable']; ?>',
                method: 'POST',
                data: function (d) {
                    d.builderParams = SearchBar.getParams();
                }
            },
            columns: [
                {data: "groupName"},
                {data: "name"},
                {data: "email"},
                {data: "active", searchable: false},
                {data: 'userId', visible : false},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        var buttonStr = "";

                        if(Acl.isAllowed('<?= $resourceId; ?>', 'modify')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Módosítás') + '" data-popup="tooltip"  class="btn btn-default row-modify" data-id="' + full.userId + '"><i class="icon-pencil3"></i> </button>'
                                + '&nbsp;';
                        }

                        if(Acl.isAllowed('lab.auth', 'change')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Váltás') + '" data-popup="tooltip"  class="btn btn-default row-change" data-id="' + full.userId + '"><i class="icon-users2"></i> </button>'
                                + '&nbsp;';
                        }

                        if(Acl.isAllowed('<?= $resourceId; ?>', 'send')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Belépési adatok újraküldése') + '" data-popup="tooltip"  class="btn btn-default row-send" data-id="' + full.userId + '" data-toggle="modal" data-target="#userSendModal"><i class="icon-mail5"></i> </button>'
                                + '&nbsp;';
                        }

                        if(Acl.isAllowed('<?= $resourceId; ?>', 'delete')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Törlés') + '" data-popup="tooltip"  class="btn btn-default row-delete" data-id="' + full.userId + '" data-toggle="modal" data-target="#userDeleteModal"><i class="icon-trash"></i> </button>'
                                + '&nbsp;';
                        }

                        return buttonStr;
                    }
                }
            ],
            buttons: datatableButtons
        });

        $('#dataTableUser tbody').on('click', 'button', function () {
            var $button = $(this);

            if ($button.hasClass('row-modify')) {
                document.location.href='<?= $urls['modify']; ?>/' + $button.data('id');
                return;
            }

            if ($button.hasClass('row-change')) {
                document.location.href='/admin/auth/change/' + $button.data('id');
                return;
            }
        });
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableUser" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?php echo $this->translate->t('Csoport'); ?></th>
                <th><?php echo $this->translate->t('Név'); ?></th>
                <th><?php echo $this->translate->t('E-mail cím'); ?></th>
                <th><?php echo $this->translate->t('Aktív'); ?></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<?php $this->partial("partials/modals/delete", array('className' => 'user', 'deleteUrl' => $urls['delete'])); ?>
<?php $this->partial("partials/modals/send", array('url' => $urls['send'])); ?>
