<script type="text/javascript">
    $(document).ready(function () {
        var datatableButtons = [];

        if (Acl.isAllowed('<?=$resourceId;?>', 'createHasMany')) {
            datatableButtons.push({
                text      : '<i class="icon-plus3"></i> ' + Translate._('Új létrehozása')
                , className : 'btn btn-default'
                , action: function (e, dt, node, config) {
                    document.location.href = '<?=$urls['createHasMany'];?>';
                }
            });
        }
        datatableButtons.push({
            extend: 'colvis',
            text: '<i class="icon-grid7"></i> <span class="caret"></span>',
            className: 'btn bg-teal-400 btn-icon',
            columns: ':lt(8)'
        });

        var table = $('#dataTableAvailability').DataTable({
            ajax: {
                url: '<?=$urls['dataTableHasMany']?>',
                method: 'POST'
            },
            columns: [
                {data: "availabilityType"},
                {data: "value"},
                {data: "primary"},
                {data: "availabilityId", "visible": false},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        var buttonStr = "";

                        if(Acl.isAllowed('<?=$resourceId?>', 'viewHasMany')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Áttekintés') + '" data-popup="tooltip" class="btn btn-default row-view" data-id="' + full.availabilityId + '"><i class="icon-eye"></i> </button>'
                                + '&nbsp;';
                        }

                        if(Acl.isAllowed('<?=$resourceId?>', 'modifyHasMany')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Módosítás') + '" data-popup="tooltip" class="btn btn-default row-modify" data-id="' + full.availabilityId + '"><i class="icon-pencil3"></i> </button>'
                                + '&nbsp;';
                        }

                        if(Acl.isAllowed('<?=$resourceId?>', 'deleteHasMany')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Törlés') + '" data-popup="tooltip" class="btn btn-default row-delete" data-id="' + full.availabilityId + '" data-toggle="modal" data-target="#availabilityDeleteModal"><i class="icon-trash"></i> </button>'
                                + '&nbsp;';
                        }
                        return buttonStr;
                    }
                }
            ],
            buttons: datatableButtons
        });

        $('#dataTableAvailability tbody').on('click', 'button', function () {
            var $button = $(this);

            if ($button.hasClass('row-view')) {
                document.location.href='<?=$urls['viewHasMany']?>/' + $button.data('id');
                return;
            }

            if ($button.hasClass('row-modify')) {
                document.location.href='<?=$urls['modifyHasMany']?>/' + $button.data('id');
                return;
            }
        });
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableAvailability" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?php echo $this->translate->t('Elérhetőség típusa'); ?></th>
                <th><?php echo $this->translate->t('Érték'); ?></th>
                <th><?php echo $this->translate->t('Elsődleges'); ?></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<?php $this->partial("partials/modals/delete", array('className' => 'availability', 'deleteUrl' => $urls['deleteHasMany'])); ?>