<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-bold">
            <?php echo $this->translate->t('Elérhetőség') ?>
        </h6>
    </div>
    <div class="panel-body" id="panelAvailability">
        <?= $this->partial('availability/hasMany/partials/view', ['availability' => $model]);?>
    </div>
</div>