<script type="text/javascript">

    var table;

    $(document).ready(function () {

        table = $('#dataTableLog').DataTable({
            ajax: {
                url: '<?=$urls['dataTable']?>',
                method: 'POST',
                data: function (d) {
                    d.builderParams = SearchBar.getParams();
                }
            },
            order: [[ 3, "desc" ]],
            columns: [
                {data: "user"},
                {data: 'priority', searchable: false},
                {data: "contentShort"},
                {data: "createdAt"},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        return (Acl.isAllowed('<?=$resourceId?>', 'view'))?'<button title="' + Translate._('Áttekintés') + '" data-popup="tooltip" class="btn btn-default row-view" data-id="' + full.logId + '"><i class="icon-eye"></i> </button>':'';
                    }
                }
            ]
            , buttons : []
        });

        $('#dataTableLog tbody').on('click', 'button', function () {
            var $button = $(this);

            if ($button.hasClass('row-view')) {
                document.location.href='<?=$urls['view']?>/' + $button.data('id');
                return;
            }
        });
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableLog" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?= $this->translate->t('Felhasználó'); ?></th>
                <th><?= $this->translate->t('Prioritás'); ?></th>
                <th><?= $this->translate->t('Üzenet'); ?></th>
                <th><?= $this->translate->t('Időpont'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>