<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-bold">
            <?php echo $this->translate->t('Alapadatok'); ?>
        </h6>
    </div>
    <div class="panel-body collapse in" id="panelLog">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Felhasználó'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?php echo $model->user->getName(); ?>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Prioritás'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?=$this->tag->label($model->priority, $model->getPriorityValue($model->priority));?>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Időpont'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?php echo $this->tag->datetime($model->createdAt); ?>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Üzenet'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?php echo nl2br($model->content); ?>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Kivétel'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <code>
                            <?php echo $model->exception ? nl2br($model->exception) : '-'; ?>
                        </code>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<?php foreach ($model->getLogModels() as $logModel) : ?>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-bold">
            <?php echo $logModel->className ?>
        </h6>
    </div>
    <div class="panel-body collapse in" id="<?php echo $logModel->logModelId?>">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Azonosító'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?php echo $logModel->objectId; ?>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Művelet'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?=$this->tag->label(null, $this->translate->t($logModel->getOperationValue($logModel->operation)));?>
                    </p>
                </div>
            </div>

            <?php if(count($logModel->getLogModelAttributes())) : ?>
                <div class="table-responsive content-group col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                <?php echo $this->translate->t('Attribútum'); ?>
                            </th>
                            <th>
                                <?php echo $this->translate->t('Régi érték'); ?>
                            </th>
                            <th>
                                <?php echo $this->translate->t('Új érték'); ?>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($logModel->getLogModelAttributes() as $logModelAttribute) : ?>
                            <tr>
                                <td>
                                    <?php echo $logModelAttribute->attribute; ?>
                                </td>
                                <td>
                                    <?php echo $logModelAttribute->oldValue; ?>
                                </td>
                                <td>
                                    <?php echo $logModelAttribute->newValue; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
<?php endforeach; ?>