<?php echo $this->getContent(); ?>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-6 col-lg-offset-2">
            <form class="form-horizontal" method="post" action="">
                <?php echo $form->renderDecorated(); ?>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">
                        <i class="icon-floppy-disk"></i> <?php echo $this->translate->t('Mentés'); ?>
                    </button>
                    &nbsp;
                    <?php echo $this->tag->linkTo([$urls['index'], $this->translate->t('Mégse')]); ?>
                </div>
            </form>
        </div>
    </div>
</div>