<?php echo $this->getContent() ?>

<?php if (!$job->isFinished() && !$job->isError()): ?>
<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            document.location.href = '<?=$urls['export']?>/<?=$job->hash?>';
        }, 5000);
    });
</script>
<?php endif; ?>

<form class="form-vertical" method="post" action="">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title text-bold">
                <i class="icon-watch2"></i> <?= $this->translate->t('Exportálás') ?>
            </h6>
        </div>
        <div class="panel-body">
            <?php if ($job->isError()): ?>
                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
                    <?=$this->translate->t('Sajnáljuk, de az exportálás során hiba történt.'); ?>
                </div>
                <p><?=$this->translate->t('Kérjük, próbálja újra! Kattintson a Mégse gombra a folytatáshoz.'); ?></p>
            <?php elseif($job->isFinished()): ?>
                <p><?=$this->translate->t('Az export állomány elkészült.'); ?></p>
                <a class="btn btn-default" href="<?=$urls['export']?>/<?=$job->hash?>/download">
                    <i class="icon-file-download"></i>&nbsp;
                    <?=$this->translate->t('Letöltés'); ?>
                </a>
            <?php elseif($job->isStarted()): ?>
                <p class="text-bold">
                    <i class="icon-spinner2 spinner"></i>&nbsp;
                    <?=$this->translate->t('Az exportálási művelet elindult. A rendszer hamarosan elkészíti az állományt.'); ?>
                </p>
                <p><?=$this->translate->t('Ne zárja be ezt az ablakot.'); ?></p>
            <?php else: ?>
                <p class="text-bold">
                    <i class="icon-spinner2 spinner"></i>&nbsp;
                    <?=$this->translate->t('Kérem, várjon. Az exportálási művelet rövidesen elindul.'); ?>
                </p>
                <p><?=$this->translate->t('Ne zárja be ezt az ablakot.'); ?></p>
            <?php endif; ?>
        </div>
    </div>

    <div class="text-center">
        <?php echo $this->tag->linkTo([$urls['index'], $this->translate->t('Mégse')]); ?>
    </div>
</form>

