<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-bold">
            <?php echo $this->translate->t('Cím'); ?>
        </h6>
    </div>
    <div class="panel-body" id="panelAddress">
        <?= $this->partial('address/hasMany/partials/view', ['address' => $model]);?>
    </div>
</div>

