<script type="text/javascript">
    $(document).ready(function(){
        SearchBar.init('<?=$controller;?>');
    });
</script>

<div class="panel panel-default" id="searchBar">
    <div class="panel-body">
        <form class="form-vertical" action="">
            <div class="row columns"></div>
            <div class="row text-center">
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <i class="icon-plus3"></i> <?=$this->translate->t('Új keresési feltétel ...');?>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <?php foreach ($form->getElements() as $element): ?>
                            <li>
                                <a href="#"
                                   class="addParam"
                                   data-param-name="<?=$element->getName()?>"
                                ><?=$element->getLabel()?></a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
                <button class="btn btn-default search">
                    <i class="icon icon-search4"></i> <?=$this->translate->t('Keresés');?>
                </button>
                <button class="btn btn-default reset">
                    <i class="icon icon-reset"></i> <?=$this->translate->t('Alaphelyzet');?>
                </button>
            </div>
        </form>
    </div>
</div>


