<?php foreach ($params as $param=>$options): ?>
<div class="form-group col-sm-2 column m-5">
    <label class="control-label text-bold">
        <?=$options['label'];?>
    </label>
    <?php foreach($options['values'] as $i=>$v): ?>
        <?=$this->partial('partials/search/param');?>
    <?php endforeach; ?>
</div>
<?php endforeach; ?>
