<div class="row param form-control-static" data-param-name="<?=$param;?>" data-param-i="<?=$i?>">
    <div class="col-sm-10">
        <?= $form->render($param, ['class' => 'form-control', 'value' => $v]); ?>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-default clearParam"><i class="icon icon-trash"></i> </button>
    </div>
</div>