#carousel-praxislab {
	background: rgb(255,255,255);
	border-top: 6px solid rgb(52,73,76);
	border-bottom: 6px solid rgb(52,73,76);
	z-index: 1;
}
.carousel-inner > .item {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
.carousel-inner > .item:before,
.carousel-inner > .item:after {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background: rgb(155,14,31);
	z-index: 2;
}
.carousel-inner > .item:before {
	top: 3px;
}
.carousel-inner > .item:after {
	bottom: 3px;
}
.carousel-control {
	/*width: 40px;*/
}
.carousel-control.left,
.carousel-control.right {
	background: none;	
}
.carousel-control .icon-prev,
.carousel-control .icon-next{
	top: 50%;
	bottom: auto;
	margin: 0;
	margin-top: -18px;
	padding: 5px;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 100% auto;
	cursor: pointer;
}
.carousel-control .icon-prev:before,
.carousel-control .icon-next:before{
	display: none;
}
.carousel-control .icon-prev{
	left: 50%;
	margin-left: -18px;
	background-image: url('../../images/web/arrow_left.png');
}
.carousel-control .icon-next{
	right: 50%;
	margin-right: -18px;
	background-image: url('../../images/web/arrow_right.png');
}
.carousel-indicators {
	bottom	: 0;
	margin-bottom: 0;
}
.carousel-indicators li {
	border-radius: 0;
	border: 0;
	margin: 0;
	width: 10px;
	height: 10px;
	background-color: rgba(255,255,255, 0.45);
}
.carousel-indicators .active {
	background-color: rgba(255,255,255, 0.85);
	width: 10px;
	height: 10px;
}
.carousel-caption {
	right: 0;
	left: auto;
	text-align: right;
	padding: 0;
	text-shadow: none;
	bottom: 50%;
	margin-bottom: -43.5px;
}
.carousel-caption h3,
.carousel-caption h4 {
	margin: 0;
	padding: 0.5em 2em;
	text-transform: uppercase;
	float: right;
	clear: both;
}
.carousel-caption h4{
	background: rgb(103,152,34);
}
.carousel-caption h3 {
	background: rgb(141,197,64);
}
.carousel-caption h4{
	background: rgb(103,152,34);
}