.flag {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	background-color: transparent;
}
.flag-hu {
	background-image:url('/assets/images/web/flags/flag-hu.png');
}
.flag-en {
	background-image:url('/assets/images/web/flags/flag-en.png');
}
.flag-ro {
	background-image:url('/assets/images/web/flags/flag-ro.png');
}
.flag-sk {
	background-image:url('/assets/images/web/flags/flag-sk.png');
}
