body{
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	background: rgb(255, 255, 255);
	color: rgb(52, 73, 76);
	position: relative;
}
.fb-like {
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
a,
button {
	outline: none !important;
}
textarea {
	display: block;
	resize: vertical;
}
.img-center .img-responsive {
	margin: 0 auto;
}
.page-header {
	padding-bottom: 0;
	margin: 0 auto;
	border-bottom: 0;
	background: rgb(255,255,255);
	z-index: 2;
}
.navbar-default.navbar-flat {
	background: rgb(255, 255, 255);
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 0;
}
.page-header {
	height: 100px;
	overflow: visible;
}
.navbar-header {
	position: relative;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
	padding: 0;
	height: auto;
	margin-left: 0;
	overflow: visible;
	position: absolute;
	top: 15px;
	left: 0;
	height: 106px;
	width: 110px;
	z-index: 1001;
}
.navbar-brand .img-responsive {
	background: rgb(255,255,255);
	padding: 0 15px 15px 15px;
	border-radius: 0 0 10px 10px;
}
#language-selector {
	margin-top: 8px;
	margin-bottom: 0px;
}
.language-selector-dropdown {
	background: none;
}
#navbar {
	clear: right;
	float: right;
	padding-left: 0;
	padding-right: 0;
	margin-right: -15px;
	margin-top: 26px;
}
.navbar-nav > li > a {
	text-transform: uppercase;
	font-weight: normal;
	padding: 10px 15px;
	font-size: 12px;
	line-height: 1em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar-nav > li + li {
	margin-left: 6px;
}
.navbar-default .navbar-nav > li > a {
	color: rgb(51, 51, 51);
	background: transparent;
	border-radius: 10px 10px 0 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: rgb(255,255,255);
	background: rgb(155,14,31);
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar-default .navbar-nav > li.login > a,
.navbar-default .navbar-nav > li.login > a:hover,
.navbar-default .navbar-nav > li.login > a:focus,
.navbar-default .navbar-nav > li.login > a:active {
	background: url('../../images/web/login-icon.png') no-repeat rgb(52,73,76);
	padding-left: 30px;
	padding-right: 10px;
	background-position: 6px center;
	background-size: 18px 18px;
	color: rgb(255,255,255);
}
#navbar .dropdown-menu {
	min-width: 100%;
	min-width: calc(100% + 12px);
	left: calc(0px - 6px);
	padding: 10px 0;
	border-radius: 0 0 10px 10px;
	background-color: rgb(255,255,255);
	border: 6px solid rgb(52,73,76);
	border-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#navbar .dropdown .caret {
	display: none;
}
#navbar .dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu > li > a {
	position: relative;
	color: rgb(52, 73, 76);
}
#navbar .dropdown-menu > li > a{
	
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: rgb(255,255,255);
	text-decoration: none;
	outline: 0;
	background: rgb(155,14,31);
}
.status-icon {
	position: absolute;
	top: 6px;
	right: 3px;
}
#main-content {
	margin-top: 0;
	margin-bottom: 0;
	background: rgb(255, 255, 255);
}
.mainpage-content>.container-fluid {
	padding-top: 33px;
	padding-bottom: 33px;
}
.mainpage-content h2 {
	margin-top: 0;
}
.page-title {
	position: relative;
	background: rgb(231, 231, 231);
	margin: 0;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 15px;
}
.page-title span {
	line-height: 30px;
	text-transform: uppercase;
	font-size: 20px;
	color: rgb(79, 79, 79);
	display: block;
	text-align: left;
}
.page-title:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 30px;
	background: rgb(216, 216, 216);
}
.page-title:after {
	content: "";
	display: block;
	clear: both;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination > .active > a:active,
.pagination > .active > span:active {
	background-color: rgb(141, 197, 62);
	border-color: rgb(141, 197, 62);
}
.pagination > li > a,
.pagination > li > span {
	color: rgb(141, 197, 62);
}
.page-bottom-border {
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 2px solid rgb(225, 225, 225);
}
.page-footer {
	background: rgb(255,255,255);
	color: rgb(255,255,255);
	border-top: 1px solid rgb(164,174,176);
}
.page-footer .container{
	padding-top: 30px;
	padding-bottom: 30px;
}
.page-footer a {
	color: rgb(255,255,255);
}
.map-overlay {
	background:transparent; 
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;
	z-index: 2;
}
.embed-google-maps {
	padding-bottom: 15%;
	overflow: visible;
}
@media all and (max-width: 767px) {
	.embed-google-maps {
		padding-bottom: 50%;
	}	
}
.breadcrumb {
	background: transparent;
	border-radius: 0;
	padding-left: 0;
}
.breadcrumb a {
	outline: none;
	color: rgb(204,204,204);
	text-decoration: none;
	text-transform: uppercase;
}
.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb a:active {
	color: rgb(51,51,51);
	text-decoration: none;
}
.breadcrumb > .active {
	text-transform: uppercase;
	color: rgb(51,51,51);
}
.page-content .breadcrumb {
	margin-bottom: 0;
}
.breadcrumb > li + li:before {
	padding: 0 3px;
}
.banner-col > .row + .row{
	margin-top: 20px;
}
.copyright-text {
	color: rgb(255,255,255);
	/*text-transform: uppercase;*/
}
.copyright-text,
.developer-text {
	padding-top: 2.5em;
}
.email-dialog-trigger {
	display: block;
	margin-top: 10px;
}

.feedback {
	padding-top: 8px;
	padding-bottom: 8px;
}
.feed-list {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	white-space: nowrap;
	text-align: center;
}
.feed-list:after {
	content: "";
	clear: both;
	display: block;
}
.feed-list li {
	display: block;
	float: left;
	width: 20%;
	padding: 0;
}
.feed-list a {
	display: block;
	max-width: 46px;
	margin: 0 auto;
	border: 1px solid rgb(215,215,215);
	background: transparent;
	text-align: center;
}
.feed-list .fa {
	color: rgb(215,215,215);
	font-size: 24px;
	line-height: 44px;
}
.feed-list a:hover,
.feed-list a:focus,
.feed-list a:active {
	background: rgb(51,51,51);
	border-color: rgb(51,51,51);
	border-radius: 50%; 
}
.feed-list a:hover .fa,
.feed-list a:focus .fa,
.feed-list a:active .fa{
	color: rgb(255,255,255);
}
.feed-list a,
.feed-list .fa {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.submit-box {
	padding-top: 8px;
	padding-bottom: 8px;
}
.btn-newsletter {
	height: 46px;
	text-transform: uppercase;
	background: rgb(225,225,225);
	font-weight: bold;
	outline: none;
	font-size: 12px;
	line-height: 34px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-newsletter:hover,
.btn-newsletter:active,
.btn-newsletter:focus {
	outline: none;
	color: rgb(255,255,255);
	background: rgb(51,51,51);
}
.btn-flat {
	border-radius: 0;
}
.animated-input-box {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
}
.animated-input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgb(204,204,204);
	outline: none;
	height: 3em;
	width: 100%;
	font-size: 15px;
	padding: 0 5px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;		
}
.textarea.animated-input {
	padding-top: 15px;
	padding-bottom: 15px;
	height: auto;
	line-height: 20px;
	font-size: 15px;
}
.animated-input:focus,
.animated-label.filled-input {
	border-bottom: 1px solid rgb(51,51,51);
	-webkit-box-shadow: 0 1px 0 0 rgb(51,51,51);
	-moz-box-shadow: 0 1px 0 0 rgb(51,51,51);
	box-shadow: 0 1px 0 0 rgb(51,51,51);
}
.animated-label {
	color: rgb(204,204,204);
	position: absolute;
	top: 15px;
	left: 20px;
	font-size: 15px;
	line-height: 1em;
	cursor: text;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	z-index: -1;
}
.animated-input:focus + .animated-label {
	color: rgb(51,51,51);
}
.animated-input:focus + .animated-label,
.animated-input.filled-input + .animated-label {
	left: 15px;
	font-size: 12px;
	-webkit-transform: translateY(-130%);
	-moz-transform: translateY(-130%);
	-ms-transform: translateY(-130%);
	-o-transform: translateY(-130%);
	transform: translateY(-130%);
}
.animated-input.filled-input.valid-input {
	border-bottom: 1px solid rgb(76,175,80);
	-webkit-box-shadow: 0 1px 0 0 rgb(76,175,80);
	-moz-box-shadow: 0 1px 0 0 rgb(76,175,80);
	box-shadow: 0 1px 0 0 rgb(76,175,80);
}
.animated-input.filled-input.invalid-input {
	border-bottom: 1px solid rgb(244,67,54);
	-webkit-box-shadow: 0 1px 0 0 rgb(244,67,54);
	-moz-box-shadow: 0 1px 0 0 rgb(244,67,54);
	box-shadow: 0 1px 0 0 rgb(244,67,54);
}

.bg-gray{
	background: rgb(238,237,232);
}
.bg-white {
	background: rgb(255,255,255);
}
.bg-texture {
	position: relative;
	background: transparent;
	border-bottom: 1px solid rgb(164,174,176);
}
.container {
	max-width: 100%;
}
.bg-texture:before {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../../images/web/seamless_paper_texture.png');
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	opacity : 0.5;
	/*z-index: -1;*/
}

.bg-white {
	background: rgb(255,255,255);
}
.bg-green {
	background: rgb(122,172,13)
}
.bg-claret {
	background: rgb(155,14,31);
}
h1, h2, h3, h4 {
	color: rgb(155,14,31);
}

a {
	cursor: pointer;
	color: rgb(52,73,76);
}
a:hover,
a:focus,
a:active {
	outline: none;
	color: rgb(155,14,31);
	text-decoration: none;
}
.page-footer a {
	color: rgb(255,255,255);
}
.page-footer a:hover,
.page-footer a:focus,
.page-footer a:active {
	color: rgba(52,73,76,0.8);
}
.center-block {
	float: none;
}
h1, h2, h3, h4 {
	margin-top: 0.8em;
	margin-bottom: 1.1em;
}
.files-list {
	padding-left: 40px;
	padding-right: 40px;
}
.why-us-list,
.downloadable-files-list {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.why-us-list li,
.downloadable-files-list li {
	display: block;
	position: relative;
	padding-left: 20px;
}
.why-us-list li + li,
.downloadable-files-list li +li {
	margin-top: 12px;
}
.why-us-list li:after,
.downloadable-files-list li:after {
	display: block;
	content: "";
	clear: both;
}
.why-us-list li .fa,
.downloadable-files-list li .fa {
	float: left;
	margin-left: -20px;
	line-height: 20px;
}
.downloadable-file {
	display: block;
	color: rgb(52, 73, 76);
}
.downloadable-file:hover,
.downloadable-file:active,
.downloadable-file:focus {
	color: rgba(52, 73, 76, 0.8);
}
.downloadable-file .file-name {
	font-weight: bold;
}
.downloadable-file .extension {
	margin-left: 4px;
}
.site-contact {
	padding-bottom: 40px;
}
.site-contact h3{
	color: rgb(52, 73, 76);
}
.site-contact .fa {
	color: rgb(155,14,31);
}
.site-contact .about-us h3 {
	margin-top: 1.3em;
	margin-bottom: 0.3em;
	
}
.btn-praxislab {
	background-image: none;
	background-color: rgba(155,14,31,1);
	border-color: rgba(155,14,31,1);
	color: #fff;
}
.btn-praxislab:hover,
.btn-praxislab:active,
.btn-praxislab:focus {
	background-color: rgba(155,14,31,0.8);
	border-color: rgba(155,14,31,0.8);
	color: #fff;
}
@media all and (max-width: 767px) {
	.files-list {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.banner-col > .row {
		margin-top: 20px;
	}
	
	.page-title {
		padding-left: 15px;
		padding-right: 15px;
	}
	.page-title span {
		text-align: center;
	}
	.page-title:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 15px;
		background: rgb(216,216,216);
	}
	.footer-nav .breadcrumb{
		padding-left: 15px;
	}
	.footer-nav .breadcrumb > li {
		display: block;
		text-align: center;
	}
	.footer-nav .breadcrumb > li + li:before {
		display: none;
	}
}
@media (max-width: 991px) {
	.navbar-toggle {
		margin-right: -12px;
	}
	#language-selector {
		margin-right: 3px;
	}
	.navbar {
		margin-bottom: 0;
	}
	#navbar {
		clear: both;
		float: none;
		border-top: 0;
		padding: 15px;
		padding-top: 24px;
		background: rgb(255,255,255);
		margin: 0;
		position: absolute;
		top: 42px;
		left: 0;
		width: 100%;
		z-index: 999;
		border-bottom: 3px solid rgb(52,73,76);
		-webkit-box-shadow: 0px 5px 5px 0px rgba(52,73,76, 0.5);
		box-shadow: 0px 5px 5px 0px rgba(52,73,76, 0.5);
	}
	#navbar .nav>li:after{
		display: none;
	}
	.navbar-nav {
		margin-top: 0;
	}
	#navbar .dropdown .caret {
		display: inline-block;
	}
	#navbar .dropdown:hover .dropdown-menu {
	    display: none;
	}
	#navbar .dropdown.open:hover > .dropdown-menu {
		display: block;
	}
	.navbar-flat .navbar-header {
		float: left;
	}
	.navbar-default .navbar-nav > li > a {
		border-radius: 0;
	}
	.navbar-nav > li + li {
		margin: 0 auto;
	}
	.page-header {
		height: 50px;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		top: 0;
		left: 15px;
		height: 66px;
		width: 60px;
	}
	.navbar-brand .img-responsive {
		padding: 0 5px 5px 5px;
		border-radius: 0 0 5px 5px;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 0 -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background: #a42737;
    border-color: #820c1a;
    color: #ffffff;
}