<?= $this->getContent(); ?>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title text-bold">
                    <?= $this->translate->t('Panel #1') ?>
                </h6>
            </div>
            <div class="panel-body">
                Content ...
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title text-bold">
                    <?= $this->translate->t('Panel #2') ?>
                </h6>
            </div>
            <div class="panel-body">
                Content ...
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title text-bold">
                    <?= $this->translate->t('Panel #3') ?>
                </h6>
            </div>
            <div class="panel-body">
                Content ...
            </div>
        </div>
    </div>
</div>

