<form method="post">
    <div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-key"></i></div>
            <h5 class="content-group">
                <?php echo $this->translate->t('ADSL'); ?>
                <small class="display-block"><?php echo $this->translate->t('Jelentkezzen be a fiókjába, írja be a hitelesítő adatokat.'); ?></small>
            </h5>
        </div>

        <?php echo $this->flashSession->output(); ?>

        <?php echo $this->getContent(); ?>

        <div class="form-group has-feedback has-feedback-left">
            <input type="email"
                   class="form-control"
                   placeholder="<?php echo $this->translate->t('E-mail ...'); ?>"
                   name="email"
                   value="<?php echo $this->request->get('email'); ?>"
            />
            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
            <?php /*echo $this->tag->formElementMessages($form->getMessagesFor('email'));*/ ?>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="password"
                   class="form-control"
                   placeholder="<?php echo $this->translate->t('Jelszó ...'); ?>"
                   name="password"
            />
            <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
            </div>
            <?php /* echo $this->tag->formElementMessages($form->getMessagesFor('password'));*/ ?>
        </div>

        <div class="form-group login-options">
            <div class="row">
                <div class="col-sm-6">
                    <!--<label class="checkbox-inline">
                        <div class="checker"><span class="checked"><input type="checkbox" class="styled" checked="checked"></span></div>
                        Remember
                    </label>-->
                </div>

                <div class="col-sm-6 text-right">
                    <a href="/admin/password"><?php echo $this->translate->t('Elfelejtette jelszavát?'); ?></a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"><i class="icon-circle-right2"></i> <?php echo $this->translate->t('Bejelentkezés'); ?></button>
        </div>

    </div>
</form>