<script type="text/javascript">

    var table;

    $(document).ready(function () {

        table = $('#dataTablePage').DataTable({
            ajax: {
                url: '<?= $urls['dataTable']; ?>',
                method: 'POST',
                data: function (d) {
                    d.builderParams = SearchBar.getParams();
                }
            },
            columns: [
                { data: "pageName"},
                { data: "slug"},
                { data: "active",
                  width: '1%' },
                { data: "slideshow",
                    width: '1%' },
                { data: "map",
                    width: '1%' },
                { data: "position",
                  width: '1%' },
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        var buttonStr = "";

                        if(Acl.isAllowed('<?= $resourceId; ?>', 'modify')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Módosítás') + '" data-popup="tooltip"  class="btn btn-default row-modify" data-id="' + full.pageId + '"><i class="icon-pencil3"></i> </button>'
                                + '&nbsp;';
                        }

                        if (data.isMin == 0) {
                            if (Acl.isAllowed('<?= $resourceId; ?>', 'position')) {
                                buttonStr = buttonStr
                                    + '<button title="' + Translate._('Mozgatás fel') + '" data-popup="tooltip"  class="btn btn-default row-position-up" data-id="' + full.pageId + '"><i class="icon-arrow-up5"></i> </button>'
                                    + '&nbsp;';
                            }
                        }

                        if (data.isMax == 0) {
                            if (Acl.isAllowed('<?= $resourceId; ?>', 'position')) {
                                buttonStr = buttonStr
                                    + '<button title="' + Translate._('Mozgatás le') + '" data-popup="tooltip"  class="btn btn-default row-position-down" data-id="' + full.pageId + '"><i class="icon-arrow-down5"></i> </button>'
                                    + '&nbsp;';
                            }
                        }

                        if(Acl.isAllowed('<?= $resourceId; ?>', 'delete')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Törlés') + '" data-popup="tooltip"  class="btn btn-default row-delete" data-id="' + full.pageId + '" data-toggle="modal" data-target="#pageDeleteModal"><i class="icon-trash"></i> </button>'
                                + '&nbsp;';
                        }

                        return buttonStr;
                    }
                }
            ],
            buttons: []
        });

        $('#dataTablePage tbody').on('click', 'button', function () {
            var $button = $(this);

            if ($button.hasClass('row-modify')) {
                document.location.href='<?=$urls['modify']?>/' + $button.data('id');
                return;
            }

            if ($button.hasClass('row-position-up')) {
                document.location.href='<?=$urls['position']?>/' + $button.data('id')+"/up";
                return;
            }

            if ($button.hasClass('row-position-down')) {
                document.location.href='<?=$urls['position']?>/' + $button.data('id')+"/down";
                return;
            }
        } );
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTablePage" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="text-right"><?= $this->translate->t('Név'); ?></th>
                <th class="text-right"><?= $this->translate->t('Url'); ?></th>
                <th class="text-right"><?= $this->translate->t('Aktív'); ?></th>
                <th class="text-right"><?= $this->translate->t('Slideshow'); ?></th>
                <th class="text-right"><?= $this->translate->t('Térkép'); ?></th>
                <th class="text-right"><?= $this->translate->t('Menü pozíció'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<?php $this->partial("partials/modals/delete", array('className' => 'page', 'deleteUrl' => $urls['delete'])); ?>