/* ------------------------------------------------------------------------------
 *
 *  # Components
 *
 *  Common less file with imports of plugins and pages
 *
 *  Version: 1.0
 *  Latest update: Feb 5, 2016
 *
 * ---------------------------------------------------------------------------- */
.rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.new-page {
  page-break-before: always;
}
.pt-100 {
  padding-top: 100px!important;
}
.fs-20 {
  font-size: 20px !important;
}
.border-bottom-praxis {
  border-bottom: #a42737 solid 3px;
}
.logo {
  height: 50px;
}
