/* ============ REPOSITIONING ============ */

.RePositioningContainer {
	background-color: #FFF;
	padding: 10px;
}

.RePositioningContainer-title {
	font-size: 1.4rem;
	font-weight: normal;
	color: #9B9B9B;
	text-transform: uppercase;
}

.Repositioning__box .progress {
	width: 50%;
	margin: 0 auto;
}

/* ============ PAGE ============ */

.PageContainer {
	display: flex;
	flex-flow: column;
	padding: 1rem;
}

.PageContainer > section:not(:first-child) {
	margin-top: 1.5rem;
}

/* ============ PRODUCT ============ */

.Product {
	display: flex;
	flex-flow: column;
}

.Product__list {
	align-self: stretch;
	margin: 0;
	padding: 0;
}

.Search__list {
	align-self: stretch;
	margin: 0;
	padding: 0;
	overflow: scroll;
	overflow-x: hidden;
	margin-left: -29px;
	padding-left: 29px;
	margin-right: -27px;
	padding-right: 27px;
}

.Position__list {
	align-self: stretch;
	margin: 0;
	padding: 0;
	overflow: scroll;
	overflow-x: hidden;
	margin-left: -29px;
	padding-left: 29px;
	margin-right: -27px;
	padding-right: 27px;
}

.Product__list-headers {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	padding: .5rem 0;
	font-weight: 600;
}

.Product__list-item {
	display: flex;
	justify-content: space-between;
	padding: .5rem 0;
}

/* --- Detail --- */

.Product__detail {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 1.2rem;
}

.Detail__description {
	display: flex;
	flex-flow: column;
	align-items: center;
	align-self: stretch;
}

.Detail__description-header {
	text-align: center;
	text-align: center;
	display: flex;
	flex-flow: column;
	flex: 100%;
}

.Detail__description-name {
	margin-top: 10px;
}

.Details__description-img {
	margin: auto 0;
}

.Detail__list {
	align-self: stretch;
	margin: 0;
	padding: 0;
}

.Detail__list-headers {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	padding: .5rem 0;
	font-weight: 600;
}

.Detail__list-item {
	display: flex;
	justify-content: space-between;
	padding: .5rem 0;
}

/* --- Search --- */

.Product__search {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 1rem;
	padding: 1.2rem;
}

.Product__search-header {
	text-align: center;
	align-self: stretch;
}

.Search__searchbar-container {
	position: relative;
	margin-top: 1rem;
}

.Search__searchbar-icon {
	position: absolute;
	top: 1px;
	right: 15px;
	padding: 0;
	outline: 0;
	border: none;
	background: none;
	cursor: pointer;
}

/* --- Position --- */

.Product__position {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 1rem;
	padding: 1.2rem;
}

.Product__position-header {
	text-align: center;
	align-self: stretch;
}

/* ============ TOP VIEW ============ */

.TopView {
	display: flex;
	flex-flow: column;
}

.TopView > article:last-child {
	margin-top: 1rem;
}

.TopView__wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	flex: 1;
	padding: 1rem;
}

.TopView__header {

}

.TopView__container {
	display: flex;
	align-self: stretch;
	justify-content: space-between;
	margin-top: 1rem;
}

.TopView__rectangle {
	display: flex;
	flex-flow: column;
	align-self: flex-end;
	align-items: center;
	padding: .5rem;
}

.TopView__container > .TopView__rectangle:not(:first-child) {
	margin-left: 1rem;
}

.TopView__rectangle > section:not(:last-child) {
	margin-bottom: .5rem;
}

/* ============ FRONT VIEW ============ */

.FrontView {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.FrontView__container {
	display: flex;
	align-self: stretch;
	margin: 0 auto;
}

.FrontView__container > section:last-child {
	margin-left: 1.5rem;
}

.FrontView__wrapper {
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 1rem;
}

.FrontView__rectangle {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	padding: .5rem;
}

.FrontView__rectangle > section:not(:last-child) {
	margin-bottom: .5rem;
}

.FrontView__button-export {
	margin: 3rem auto 1rem auto;
}

/* ============================== */

.Notes {
	height: 100px;
	overflow: scroll;
}

/* ============ CSANI CLASSES ============ */

section.--yellow-square {
	background-color: #FDE28C;
	box-shadow:         inset 0 0 0px 5px #FFCA21;
	-moz-box-shadow:    inset 0 0 0px 5px #FFCA21;
	-webkit-box-shadow: inset 0 0 0px 5px #FFCA21;
}

section.--blue-square {
	background-color: #97BCE7;
	box-shadow:         inset 0 0 0px 5px #4A90E2;
	-moz-box-shadow:    inset 0 0 0px 5px #4A90E2;
	-webkit-box-shadow: inset 0 0 0px 5px #4A90E2;
}

li.--yellow-list-item {
	color: #000;
	background-color: #FFCA21;
	margin-right: -18px;
	padding-right: 18px;
	margin-left: -18px;
	padding-left: 18px;
}

li.--blue-list-item {
	color: #fff;
	background-color: #4A90E2;
	margin-right: -18px;
	padding-right: 18px;
	margin-left: -18px;
	padding-left: 18px;
}

@media (min-width: 768px) {
	li.--blue-list-item {
		margin-left: -17px;
		padding-left: 17px;
	}
}

@media (min-width: 992px) {
	li.--yellow-list-item {
		margin-left: -29px;
		padding-left: 29px;
		margin-right: -29px;
		padding-right: 29px;
	}

	li.--blue-list-item {
		margin-left: -29px;
		padding-left: 29px;
		margin-right: -29px;
		padding-right: 29px;
	}
}

@media (min-width: 1200px) {}

@media (min-width: 1440px) {}

/* ============ GENERAL ============ */

html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4A4A4A;
}
/* ============ PAGE ============ */

.PageContainer {
	background-color: #FFF;
}

.PageContainer__title {
	font-size: 1rem;
	font-weight: normal;
	letter-spacing: .5px;
	color: #9B9B9B;
	text-transform: uppercase;
}

.PageContainer__dots {
	width: 40px;
	border-bottom: 3px dotted #D6D6D6;
}

/* ============ PRODUCT ============ */

.Product__list-item {
	border-bottom: 1px solid #ECECEC;
}

.Product__list-headers {
	align-self: stretch;
	border-bottom: 1px solid #ECECEC;
}

/* --- Detail --- */

.Product__detail {
	border: 1px solid #D6D6D6;
	border-radius: 20px;
}

.Detail__description-title {
	font-size: 1.4rem;
	font-weight: normal;
	color: #9B9B9B;
	text-transform: uppercase;
}

.Detail__description-name {
	color: #4A4A4A
}

.Detail__list-item {
	border-bottom: 1px solid #ECECEC;
}

.Detail__list-item:first-child {
	border-top: 1px solid #ECECEC;
}

.Detail__list-headers {
	border-bottom: 1px solid #ECECEC;
}

/* --- Search --- */

.Product__search {
	border: 1px solid #D6D6D6;
	border-radius: 20px;
	height: 647px;
}

.Search__searchbar-container {

}

.Search__searchbar {
	height: 36px;
	width: 100%;
	outline: none;
	border: 1px solid #DCDCDC;
	border-radius: 18.5px;
	padding-left: 1.5rem;
}

/* --- Position --- */

.Product__position {
	border: 1px solid #D6D6D6;
	border-radius: 20px;
	height: 647px;
}

/* ============ TOP VIEW ============ */

.TopView__wrapper {
	border: 1px solid #D6D6D6;
	border-radius: 20px;
}

.TopView__rectangle {
	position: relative;
	border: 2px solid #D6D6D6;
	border-radius: 10px;
	background-color: #EFEFEF;
}

.TopView__square {
	position: relative;
	width: 4rem;
	height: 4rem;
	border: 2px solid #979797;
	border-radius: 20px;
	background-color: #D3D3D3;
	box-shadow:         inset 0 0 0px 5px #B9B9B9;
	-moz-box-shadow:    inset 0 0 0px 5px #B9B9B9;
	-webkit-box-shadow: inset 0 0 0px 5px #B9B9B9;
}

/* ============ FRONT VIEW ============ */

.FrontView__wrapper {
	position: relative;
	border: 1px solid #D6D6D6;
	border-radius: 20px;
}

.FrontView__rectangle {
	position: relative;
	border: 2px solid #D6D6D6;
	border-radius: 10px;
	background-color: #EFEFEF;
}

.FrontView__square {
	position: relative;
	width: 5rem;
	height: 5rem;
	border: 2px solid #979797;
	border-radius: 15px;
	background-color: #D3D3D3;
	box-shadow:         inset 0 0 0px 5px #B9B9B9;
	-moz-box-shadow:    inset 0 0 0px 5px #B9B9B9;
	-webkit-box-shadow: inset 0 0 0px 5px #B9B9B9;
}

.FrontView__title-absolute-before {
	position: absolute;
	bottom: -30px;
	right: -8px;
}

.FrontView__title-absolute-after {
	position: absolute;
	bottom: -30px;
	right: 0;
}

.FrontView__button-export {
	height: 50px;
	border: 0;
	border-radius: 20px;
	font-size: 0.9rem;
	outline: none;
	cursor: pointer;
	color: #000;
	text-transform: uppercase;
	background-color: #FFCA21;
}

/* --- Sigh... --- */

.TopView__rectangle > .TopView__square:not(:last-child):before {
	content: "";
	clear: both;
	position: absolute;
	top: 53px;
	left: -15px;
	width: 4px;
	height: 4px;
	border: 3px solid #D6D6D6;
	border-radius: 50%;
	background-color: #FFF;
}

.TopView__rectangle > .TopView__square:not(:last-child):after {
	content: "";
	clear: both;
	position: absolute;
	top: 53px;
	right: -15px;
	width: 4px;
	height: 4px;
	border: 3px solid #D6D6D6;
	border-radius: 50%;
	background-color: #FFF;
}

.TopView__rectangle > .TopView__square:last-child:before {
	content: "";
	clear: both;
	position: absolute;
	top: 57px;
	right: -15px;
	width: 4px;
	height: 4px;
	border: 3px solid #D6D6D6;
	border-radius: 50%;
	background-color: #FFF;
}

.TopView__rectangle > .TopView__square:last-child:after {
	content: "";
	clear: both;
	position: absolute;
	top: 57px;
	left: -15px;
	width: 4px;
	height: 4px;
	border: 3px solid #D6D6D6;
	border-radius: 50%;
	background-color: #FFF;
}

.TopView__rectangle:before {
	content: "";
	clear: both;
	position: absolute;
	top: -5px;
	right: -5px;
	width: 4px;
	height: 4px;
	border: 3px solid #D6D6D6;
	border-radius: 50%;
	background-color: #FFF;
}

.TopView__rectangle:after {
	content: "";
	clear: both;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 4px;
	height: 4px;
	border: 3px solid #D6D6D6;
	border-radius: 50%;
	background-color: #FFF;
}

/* ============ MEDIA QUERIES LAYOUT ============ */

@media (min-width: 576px) {}


@media (min-width: 768px) {
	.PageContainer {
		padding: 1.5rem;
	}

	.Product {
		flex-flow: row wrap;
	}

	.Product > article:last-child {
		margin-left: 1.5rem;
	}

	.Product__detail {
		flex-flow: row;
		flex: 100%;
	}

	.Detail__description {
		margin: 0 3rem 0 2rem;
	}

	.Detail__list {
		flex: 1;
	}

	.Product__search {
		margin-top: 1.5rem;
	}

	.Product__position {
		margin-top: 1.5rem;
	}

	.Product__search {
		flex: 1;
	}

	.Product__position {
		flex: 1;
	}

	.TopView {
		flex-flow: row;
	}

	.TopView > article:last-child {
		margin: 0 0 0 1.5rem;
	}
}


@media (min-width: 992px) {
	.PageContainer {
		padding: 2.5rem;
	}

	.PageContainer > section:not(:first-child) {
		margin-top: 2rem;
	}

	.Detail__description {
		margin: 0 4.5rem 0 2.5rem;
	}

	.Product__detail {
		padding: 2rem;
	}

	.Product__search {
		margin-top: 2rem;
		padding: 2rem;
	}

	.Product__position {
		margin-top: 2rem;
		padding: 2rem;
	}

	.Product > article:last-child {
		margin-left: 2rem;
	}

	.TopView__wrapper {
		padding: 1.5rem;
	}

	.TopView__container {
		padding: 1rem 2rem;
	}

	.TopView > article:last-child {
		margin: 0 0 0 2rem;
	}

	.FrontView__container > section:last-child{
		margin: 0 0 0 2rem;
	}

	.FrontView__wrapper {
		padding: 2rem;
	}
}


@media (min-width: 1200px) {}

@media (min-width: 1440px) {
	.PageContainer {
		flex-flow: row;
		justify-content: space-between;
	}

	.PageContainer > section:not(:first-child) {
		margin: 0 0 0 2rem;
	}

	.PageContainer__title {
		margin-left: -15px;
    margin-right: -15px;
	}

	.Product {
		flex: 2;
		align-content: flex-start;
		max-width: 650px;
	}

	.Product__detail {
		max-height: 350px;
	}

	.Product__list-item {
		padding: 0.6rem 0;
	}

	.Detail__list-item {
		padding: 0.8rem 0;
	}

	.Product__list-headers {
		padding: .6rem 0;
	}

	.TopView {
		flex-flow: column;
		flex: 1;
	}

	.TopView > article:last-child {
		margin: 2rem 0 0 0;
	}

	.FrontView {
		flex: 0;
	}

	.FrontView__container {
		margin: 0;
	}
}

/* ============ MEDIA QUERIES STYLE ============ */

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {

	.FrontView__title-absolute-before {
		right: 8px;
	}

	.FrontView__title-absolute-after {
		right: 15px;
	}

	.FrontView__button-export {
		width: 327px;
	}
}

@media (min-width: 1200px) {}

@media (min-width: 1440px) {}

.Product__list-item {
	cursor: pointer;
}
