<?php echo $this->getContent(); ?>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title text-bold">
                    <?php echo $this->translate->t('Avatár'); ?>
                </h6>
            </div>
            <div class="panel-body">
                <div class="col-lg-8 col-lg-offset-2">
                    <?php if($avatar): ?>
                        <div class="text-center p-15">
                            <img src="<?=$avatar?>" alt="" />
                        </div>
                    <?php endif; ?>
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        <?php echo $form->renderDecorated(); ?>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">
                                <i class="icon-floppy-disk"></i> <?php echo $this->translate->t('Mentés'); ?>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-flat border-left-xlg border-left-info">
            <div class="panel-heading">
                <h6 class="panel-title text-semibold">
                    <i class="icon icon-help"></i> <?php echo $this->translate->t('Súgó'); ?>
                </h6>
            </div>
            <div class="panel-body">
                Help content ...
            </div>
        </div>
    </div>
</div>

