<?php echo $this->getContent(); ?>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-6 col-lg-offset-2">
            <form id="inventoryEventForm" class="form-horizontal" method="post" action="">
                <?php echo $form->renderDecorated(); ?>
                <div class="text-center">
                    <a id="startEasyTimer" class="btn btn-success">
                        <i class="icon-play"></i> <?php echo $this->translate->t('Start'); ?>
                    </a>
                    &nbsp;
                    <a id="stopEasyTimer" class="btn btn-warning">
                        <i class="icon-stop"></i> <?php echo  $this->translate->t('Finish'); ?>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
async function getCurrentDatetimeFromServer(event)
{
    const apiUrl = "<?= $_ENV["BASE_URI"] . "rest/" . $_ENV["API_VERSION"] . "/currentdatetime" ?>";
    return Promise.resolve($.ajax({
        url: apiUrl,
        type: 'GET',
        contentType: 'application/json',
        success: function(res) {
            if (event === "start") {
                $('#startTime').val(res);
            }

            if (event === "end") {
                $('#endTime').val(res);
            }
            
            return res;
        }
    }));
}

function startTimerEventHandler()
{
    if(localStorage.getItem("timer")) {
        $("#timer").html(localStorage.getItem("timer"));
        $("#startEasyTimer").attr("disabled", true);
        $("#stopEasyTimer").attr("disabled", false);
    } else {
        $("#timer").html("00:00:00");
        $("#startEasyTimer").attr("disabled", false);
        $("#stopEasyTimer").attr("disabled", true);
    }

    $("#startEasyTimer").on("click", async function() {
        $("#inventoryEventId").val("");
        var waitAjax = new Promise((resolve, reject) => {
            resolve(getCurrentDatetimeFromServer("start"));
        }); 

        await waitAjax;

        EasyTimer.start({precision: "seconds"});
        $("#startEasyTimer").attr("disabled", true);
        $("#stopEasyTimer").attr("disabled", false);

        EasyTimer.addEventListener("secondsUpdated", function(e) {
            $("#timer").html(EasyTimer.getTimeValues().toString(["hours", "minutes", "seconds"]));
            localStorage.setItem("timer", EasyTimer.getTimeValues().toString(["hours", "minutes", "seconds"]));
        });

        const apiUrl = "<?= $_ENV["BASE_URI"] . "rest/" . $_ENV["API_VERSION"] . "/inventoryEvent" ?>";
        $.ajax({
            url: apiUrl,
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify($('form#inventoryEventForm').serializeObject()),
            success: function(data) {
                $("#inventoryEventId").val(data.data[0].inventoryEventId);
            }
        });
    });
}

function stopTimerEventHandler()
{
    $('#stopEasyTimer').on('click', async function() {
        var waitAjax = new Promise((resolve, reject) => {
            resolve(getCurrentDatetimeFromServer("end"));
        }); 

        await waitAjax;
        
        EasyTimer.stop();
        $("#startEasyTimer").attr("disabled", false);
        $("#stopEasyTimer").attr("disabled", true);
        $("#timer").html("00:00:00");

        localStorage.removeItem("startTime");
        localStorage.removeItem("endTime");
        localStorage.removeItem("timer");

        const inventoryEventId = $("#inventoryEventId").val();
        const apiUrl = "<?= $_ENV["BASE_URI"] . "rest/" . $_ENV["API_VERSION"] . "/inventoryEvent" ?>";
        $.ajax({
            url: apiUrl+"/"+inventoryEventId,
            type: 'PUT',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify($('form#inventoryEventForm').serializeObject()),
            success: function(data) {
                console.log(data);
                postDataToCloudDataMapper(data);
            }
        });
    });
}

function postDataToCloudDataMapper(data)
{
    const apiUrl = "<?= $_ENV["CLOUD_DATA_MAPPER_URL"] . "rest/" . $_ENV["API_VERSION"] . "/startInventoryPositioning" ?>";
    $.ajax({
        url: apiUrl,
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function(res) {
            console.log(res);
        }
    });
}

$(document).ready(function() {
    startTimerEventHandler();
    stopTimerEventHandler();
});
</script>