<script type="text/javascript">
    $(document).ready(function () {

        var datatableButtons = [];

        if (Acl.isAllowed('<?= $resourceId; ?>', 'export')) {
            var btnCurrentPage = function(url) {
                return {
                    text: Translate._('Aktuális oldal'),
                    action: function(e, dt, node, config) {
                        var ids     = [];
                        var columns = [];

                        table.columns().visible().map(function(visible, i){
                            var column = table.column(i).dataSrc();
                            if (column && visible) {
                                columns.push(column);
                            }
                        });

                        table.column(0).data().toArray().map(function (id) {
                            ids.push(id);
                        });

                        document.location.href = url +'?ids=' + ids.join(',') + '&columns=' + columns.join(',');
                    }
                }
            };

            var btnAllPages = function(url) {
                return {
                    text: Translate._('Összes oldal'),
                    action: function (e, dt, node, config) {
                        var columns = [];

                        table.columns().visible().map(function(visible, i){
                            var column = table.column(i).dataSrc();
                            if (column && visible) {
                                columns.push(column);
                            }
                        });

                        document.location.href = url + '?columns=' + columns.join(',');
                    }
                }
            }

            var xlsUrl = '<?=$urls['export'];?>';
            var pdfUrl = '<?=$urls['export'];?>/0/0/1';

            datatableButtons.push([
                {
                    extend: 'collection',
                    text: '<i class="icon-file-excel"></i>',
                    className: 'btn btn-default',
                    buttons: [btnCurrentPage(xlsUrl), btnAllPages(xlsUrl)]
                }
                , {
                    extend: 'collection',
                    text: '<i class="icon-file-pdf"></i>',
                    className: 'btn btn-default',
                    buttons: [btnCurrentPage(pdfUrl), btnAllPages(pdfUrl)]
                }
            ]);
        }

        datatableButtons.push({
            extend: 'colvis',
            text: '<i class="icon-grid7"></i> <span class="caret"></span>',
            className: 'btn bg-teal-400 btn-icon',
            columns: ':lt(11)'
        });

        var table = $('#dataTablePanel').DataTable({
            ajax: {
                url: '<?=$urls['dataTable']?>',
                method: 'POST'
            },
            columns: [
                {data: "itemId", visible: false},
                {data: "itemIdentifier"},
                {data: "name"},
                {data: "price"},
                {data: "canBePriced"},
                {data: "monitoringDiscount"},
                {data: "quantitativeDiscount"},
                {data: "denied"},
                {data: "animalGroupNames", orderable: false},
                {data: "speciesNames", orderable: false},
                {data: "praxisNames", orderable: false, visible : false},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {

                        var buttonStr = "";
                        buttonStr += '<div class="btn-group">';
                        buttonStr += '<button type="button" class="btn btn-default btn-icon dropdown-toggle" data-toggle="dropdown">'
                            + '<i class="icon-menu7"></i> &nbsp;<span class="caret"></span>'
                            + '</button>';
                        buttonStr += '<ul class="dropdown-menu dropdown-menu-right">';

                        if(Acl.isAllowed('<?=$resourceId?>', 'view')) {
                            buttonStr +=
                                '<li>'
                                + '<a class="row-view" data-id="' + full.itemId + '"><i class="icon-eye"></i> ' + Translate._('Áttekintés') + '</a>'
                                + '</li>'
                            ;
                        }

                        if(Acl.isAllowed('<?=$resourceId?>', 'modify')) {
                            buttonStr +=
                                '<li>'
                                + '<a class="row-modify" data-id="' + full.itemId + '"><i class="icon-pencil3"></i> ' + Translate._('Módosítás') + '</a>'
                                + '</li>'
                            ;
                        }

                        if (Acl.isAllowed('<?= $resourceId; ?>', 'indexHasManyToMany')) {
                            buttonStr +=
                                '<li>'
                                + '<a class="row-request" data-id="' + full.itemId + '"><i class="icon-more"></i> ' + Translate._('Kérések') + '</a>'
                                + '</li>'
                            ;
                        }

                        if (Acl.isAllowed('<?= $resourceId; ?>', 'indexHasManyToMany')) {
                            buttonStr +=
                                '<li>'
                                + '<a class="row-animalGroups" data-id="' + full.itemId + '"><i class="icon-make-group"></i> ' + Translate._('Állat csoportok') + '</a>'
                                + '</li>'
                            ;
                        }

                        if (Acl.isAllowed('<?= $resourceId; ?>', 'indexHasManyToMany')) {
                            buttonStr +=
                                '<li>'
                                + '<a class="row-species" data-id="' + full.itemId + '"><i class="icon-grid5"></i> ' + Translate._('Állat fajok') + '</a>'
                                + '</li>'
                            ;
                        }

                        if (Acl.isAllowed('<?= $resourceId; ?>', 'indexHasManyToMany')) {
                            buttonStr +=
                                '<li>'
                                + '<a class="row-praxises" data-id="' + full.itemId + '"><i class="icon-home7"></i> ' + Translate._('Rendelők') + '</a>'
                                + '</li>'
                            ;
                        }

                        if(Acl.isAllowed('<?=$resourceId?>', 'delete')) {
                            buttonStr = buttonStr
                                + '<li>'
                                + '<a class="row-delete" data-id="' + full.itemId + '" data-toggle="modal" data-target="#requestDeleteModal"><i class="icon-trash"></i> ' + Translate._('Törlés') + '</a>'
                                + '</li>'
                            ;
                        }

                        buttonStr += '</ul>';

                        return buttonStr;
                    }
                }
            ],
            buttons: datatableButtons
        });

        $('#dataTablePanel tbody').on('click', 'a', function () {
            var $button = $(this);

            if ($button.hasClass('row-view')) {
                document.location.href='<?=$urls['view']?>/' + $button.data('id');
                return;
            }

            if ($button.hasClass('row-modify')) {
                document.location.href='<?=$urls['modify']?>/' + $button.data('id');
                return;
            }

            if ($button.hasClass('row-animalGroups')) {
                document.location.href='<?=$urls['indexHasManyToMany']?>/' + $button.data('id') + '/animalGroup';
                return;
            }

            if ($button.hasClass('row-species')) {
                document.location.href='<?=$urls['indexHasManyToMany']?>/' + $button.data('id') + '/species';
                return;
            }

            if ($button.hasClass('row-praxises')) {
                document.location.href='<?=$urls['indexHasManyToMany']?>/' + $button.data('id') + '/praxis';
                return;
            }

            if ($button.hasClass('row-request')) {
                document.location.href='<?=$urls['indexHasManyToMany']?>/' + $button.data('id') + '/request';
                return;
            }
        });

        $('#dataTableRequest tbody').on('click', '.itemMoreDataModal', function () {
            $('#itemMoreDataModal').find('.modal-header .modal-title').html($(this).siblings('.moreDataHeader').html());
            $('#itemMoreDataModal').find('.modal-body').html($(this).siblings('.moreDataBody').html());

            $('#itemMoreDataModal').modal('show');
        });

    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTablePanel" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th></th>
                <th><?php echo $this->translate->t('Azonosító'); ?></th>
                <th><?php echo $this->translate->t('Név'); ?></th>
                <th><?php echo $this->translate->t('Nettó ár'); ?></th>
                <th><?php echo $this->translate->t('Árazható'); ?></th>
                <th><?php echo $this->translate->t('Monitoring kedvezmény'); ?></th>
                <th><?php echo $this->translate->t('Mennyiségi kedvezmény'); ?></th>
                <th><?php echo $this->translate->t('Tiltott'); ?></th>
                <th><?php echo $this->translate->t('Állat csoportok'); ?></th>
                <th><?php echo $this->translate->t('Állat fajok'); ?></th>
                <th><?php echo $this->translate->t('Rendelők'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<?php $this->partial("partials/modals/delete", array('className' => 'request', 'deleteUrl' => $urls['delete'])); ?>

