<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-bold">
            <?php echo $this->translate->t('Panel'); ?>
        </h6>
    </div>
    <div class="panel-body" id="panelItem">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Azonosító'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?php echo $model->itemIdentifier; ?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Név'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?php echo $model->getName(); ?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Gyüjtő'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?= $model->getCollector() ? $model->getCollector()->getName() : '';?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Nettó ár'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?= $this->tag->currency($model->price, $model->getCurrency()) ;?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Árazható'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?= $this->tag->label($model->canBePriced, \App\Model\Item::getBooleanValue($model->canBePriced)) ;?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Monitoring kedvezmény'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?= $this->tag->label($model->monitoringDiscount, \App\Model\Item::getBooleanValue($model->monitoringDiscount)) ;?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Mennyiségi kedvezmény'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?= $this->tag->label($model->quantitativeDiscount, \App\Model\Item::getBooleanValue($model->quantitativeDiscount)) ;?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Tiltott'); ?>
                </label>
                <div class="col-lg-10">
                    <p>
                        <?= $this->tag->label($model->denied, \App\Model\Item::getBooleanValue($model->denied)) ;?>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title text-bold">
            <?php echo $this->translate->t('Panel szabályok'); ?>
        </h6>
    </div>
    <div class="panel-body" id="panelRules">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Rendelők'); ?>
                </label>
                <div class="col-lg-10">
                    <ul>
                        <?php foreach ($model->getPraxisNames(false) as $praxisName) : ?>
                            <li>
                                <?= $praxisName ;?>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Állat csoportok'); ?>
                </label>
                <div class="col-lg-10">
                    <ul>
                        <?php foreach ($model->getAnimalGroupNames(false) as $animalGroupName) : ?>
                            <li>
                                <?= $animalGroupName ;?>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-lg-2">
                    <?php echo $this->translate->t('Állat fajok'); ?>
                </label>
                <div class="col-lg-10">
                    <ul>
                        <?php foreach ($model->getSpeciesNames(false) as $speciesName) : ?>
                            <li>
                                <?= $speciesName ;?>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

