<div class="panel panel-default" id="searchBar">
    <div class="panel-body">
        <div class="col-lg-6 col-lg-offset-2">
            <form class="form-horizontal" method="post" action="">
                <?php echo $form->renderDecorated(); ?>
                <div class="text-center">
                    <button type="button" class="btn btn-success save-button">
                        <i class="icon-floppy-disk"></i> Save
                    </button>
                </div>
            </form>
        </div>
        <br />
        <div class="col-lg-6 col-lg-offset-2">
            <table class="product-list col-md-12 table table-striped table-bordered dataTable no-footer dtr-inline" width="100%">
                <tr>
                    <td class=""><?=$this->translate->_('Azonosító');?></td>
                    <td><?=$this->translate->_('Státusz');?></td>
                    <td><?=$this->translate->_('Termék');?></td>
                    <td><?=$this->translate->_('Telephely');?></td>
                    <td><?=$this->translate->_('Rfid');?></td>
                    <td></td>
                </tr>
                <tbody class="product-list-body">

                </tbody>
            </table>
        </div>
    </div>
</div>

<script id="product-template" type="text/x-handlebars-template">
    <tr>
        <td>{{productInstanceId}}</td>
        <td>{{productStatusId}}</td>
        <td>{{productId}}</td>
        <td>{{siteId}}</td>
        <td>{{rfid}}</td>
        <td><button class="removeProductInstance btn btn-default" data-productInstanceId="{{productInstanceId}}"><i class="icon-trash"></i></button></td>
    </tr>
</script>