<div id="crudBrowseModal" class="modal fade">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"><?php echo $this->translate->t('Tallózás'); ?></h6>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                    <?php echo $this->translate->t('Bezár'); ?>
                </button>
            </div>
        </div>
    </div>
</div>

