<div id="crudFormModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"><?php echo $this->translate->t('Létrehozás'); ?></h6>
            </div>
            <div class="modal-body">
                <form id="crudFormModalForm" class="form-horizontal"></form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-success"
                        id="crudFormModalSave">
                    <?php echo $this->translate->t('Mentés'); ?>
                </button>
                <button type="button"
                        class="btn btn-danger"
                        id="crudFormModalCancel">
                    <?php echo $this->translate->t('Mégse'); ?>
                </button>
            </div>
        </div>
    </div>
</div>

