<?php $generator = new \JFilla\Barcode\BarcodeGeneratorPNG(); ?>
<?php if (in_array('all',$options) || in_array('first',$options)) :?>
    <div class="barcode row new-page fs-20">
        <div class="col-xs-8">
            <div class="">
                <p><strong><?=$referral->getPatient()->patientName?></strong></p>
            </div>
            <div class="">
                <p><?=$this->translate->t('Dátum');?>: <?=$referral->arrivalDateAt?>
                <p><?=$this->translate->t('Beküldő');?>: <?=$referral->getDoctor()->asString(false);?>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="rotate-90 pt-100"><strong><?=$referral->dailyNumber?></strong></div>
        </div>
    </div>
<?php endif; ?>

<?php foreach ($referral->getExaminationsHasRequests() as $examinationHasRequest) : ?>
    <?php $examination = \App\Model\Examination::findFirstByExaminationId($examinationHasRequest->examinationId)?>
    <?php if ($examination->getLabSample() && (in_array('all',$options) || in_array($examination->examinationId,$options))) :?>
        <div class="barcode row new-page fs-20">
            <div class="col-xs-8">
                <div class="">
                    <img src="data:image/png;base64, <?=base64_encode(
                        $generator->getBarcode(
                            $referral->dailyNumber . $examination->getLabSampleId(), $generator::TYPE_CODE_128
                        )
                    )?>">
                    <p><?=$referral->getPraxisSenderNumber()?> <?=$referral->arrivalDateAt?></p>
                </div>
                <div class="">
                    <p><?=$referral->getPatient()->patientName?> <?=$referral->getPatient()->getSpecies()->identifier?></p>
                </div>
                <div class="">
                    <p><?=$examination->getLabSample()->getName()?>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="rotate-90 pt-100"><strong><?=$referral->dailyNumber?></strong></div>
            </div>
        </div>
    <?php endif; ?>
<?php endforeach; ?>

<?php if (in_array('all',$options) || in_array('last',$options)) :?>
    <div class="barcode row new-page fs-20">
        <div class="col-xs-8">
            <div class="">
                <p><?=$this->translate->t('Dátum');?>: <?=$referral->arrivalDateAt?>
                <p><strong><?=$referral->getPatient()->patientName?></strong></p>
                <p><?=$referral->getPatient()->getSpecies()->identifier?></p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="rotate-90 pt-100"><strong><?=$referral->dailyNumber?></strong></div>
        </div>
    </div>
<?php endif; ?>
