
@import "../_global/global.less";

.rotate-90 {
    .rotate(90deg);
}

.new-page {
    page-break-before: always;
}

.pt-100 {
    padding-top: 100px!important;
}

.fs-20 {
    font-size: 20px !important;
}

.border-bottom-praxis {
    border-bottom: #a42737 solid 3px;
}

.logo {
    height: 50px;
}