<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#dataTableLanguage').DataTable({
            ajax: {
                url: '<?=$urls['dataTable']?>',
                method: 'POST'
            },
            columns: [
                {data : null, width : '1%', searchable : false, orderable : false, render : function(data, type, full, meta) {
                    return '<img src="/assets/images/flags/' + full.iso + '.png" alt="" />';
                }},
                {data: "languageName"},
                {data: "locale"},
                {data: "iso"},
                {data: "default"},
                {data: "interface"},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        var buttonStr = "";

                        if (Acl.isAllowed('<?=$resourceId?>', 'modify')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Módosítás') + '" data-popup="tooltip" class="btn btn-default row-modify" data-id="' + data.languageId + '"><i class="icon-pencil3"></i> </button>'
                                + '&nbsp;';
                        }

                        if (Acl.isAllowed('<?=$resourceId?>', 'translate')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Fordítás') + '" data-popup="tooltip" class="btn btn-default row-translate" data-id="' + data.languageId + '"><i class="icon-transmission"></i> </button>'
                                + '&nbsp;';
                        }

                        if (Acl.isAllowed('<?=$resourceId?>', 'delete')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Törlés') + '" data-popup="tooltip" class="btn btn-default row-delete" data-id="' + data.languageId + '" data-toggle="modal" data-target="#languageDeleteModal"><i class="icon-trash"></i> </button>'
                                + '&nbsp;';
                        }

                        return buttonStr;
                    }
                }
            ],
            buttons: []
        });

        $('#dataTableLanguage tbody').on('click', 'button', function () {
            var $button = $(this);

            if ($button.hasClass('row-modify')) {
                document.location.href='<?=$urls['modify']?>/' + $button.data('id');
                return;
            }

            if ($button.hasClass('row-translate')) {
                document.location.href='<?=$urls['translate']?>/' + $button.data('id');
                return;
            }
        });
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableLanguage" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th></th>
                <th><?php echo $this->translate->t('Nyelv'); ?></th>
                <th><?php echo $this->translate->t('Kódlap'); ?></th>
                <th><?php echo $this->translate->t('ISO kód'); ?></th>
                <th><?php echo $this->translate->t('Alapértelmezett'); ?></th>
                <th><?php echo $this->translate->t('UI nyelv'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<?php $this->partial("partials/modals/delete", array('className' => 'language', 'deleteUrl' => $urls['delete'])); ?>

