<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#dataTableTranslate').DataTable({
            ajax: {
                url: '<?=$urls['translate']?>/<?=$languageId?>',
                method: 'POST'
            },
            columns: [
                {data : 'changed', width : '5%', render : function(data, type, full, meta) {
                    return '<span class="label label-success' + (data == 0 ? ' hidden' : '') + '"> ' + Translate.t('Módosult') + '</span>';
                }}
                , {data: "key", width : '45%' }
                , {data: "value", width : '50%', render : function(data, type, full, meta){

                    if (data == null) {
                        data = '';
                    }

                    function d(str) {
                        str = str.replace(/"/g, '&quot;');
                        str = str.replace(/</g, '&lt;');
                        str = str.replace(/>/g, '&gt;');

                        return str;
                    }

                    var key = d(full.key);
                    data = d(data);

                    var html = '<div class="form-group has-feedback">';
                    html += '<input type="text" class="form-control" data-key="' + key + '" name="translation" value="' + data + '" />';
                    html += '<div class="form-control-feedback">';
                    html += '<i class=""></i>';
                    html += '</div>';
                    html += '</div>';

                    return html;
                }}
            ],
            buttons: []
        });

        $('#dataTableTranslate tbody').on('keyup', 'input', function (e) {

            if (e.keyCode != 13) {
                return
            }

            var $input     = $(this);
            var $formGroup = $(this).parent();
            var $icon      = $formGroup.find('i');
            var $label     = $(this).parents('tr').find('.label');

            $formGroup.removeClass('has-success');
            $formGroup.removeClass('has-error');

            BlockUi.block($formGroup);

            $.ajax({
                type: 'POST',
                url: '<?=$urls['translate']?>/<?=$languageId?>',
                data: {
                    'key'        : $input.data('key'),
                    'value'      : $input.val(),
                },
                success: function (response) {
                    if (response.errors == false) {
                        $formGroup.addClass('has-success');
                        $icon.addClass('icon-checkmark-circle');

                        if ($input.data('key') == $input.val()) {
                            $label.addClass('hidden');
                        } else {
                            $label.removeClass('hidden');
                        }

                        return;
                    }

                    $formGroup.addClass('has-error');
                    $icon.addClass('icon-cancel-circle2');
                },
                error: function () {
                    $formGroup.addClass('has-error');
                    $icon.addClass('icon-cancel-circle2');
                },
                complete: function () {
                    BlockUi.unblock($formGroup);
                }
            });
        });
    });
</script>

<?php echo $this->getContent(); ?>

<div class="panel panel-default">
    <div class="panel-body">
        <table id="dataTableTranslate" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?php echo $this->translate->t('Állapot'); ?></th>
                <th><?php echo $this->translate->t('Eredeti kifejezés'); ?></th>
                <th><?php echo $this->translate->t('Megjelenítendő kifejezés'); ?></th>
            </tr>
            </thead>
        </table>
    </div>
</div>



