<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#dataTableGroup').DataTable({
            ajax: {
                url: '<?=$urls['dataTable']?>',
                method: 'POST'
            },
            columns: [
                {data: "groupName"},
                {
                    data: 'userCount', class : "text-right",
                    "render": function ( data, type, full, meta ) {
                        return Translate._('%number% db', {number : data});
                    }
                },
                {data: 'active', searchable: false},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        var buttonStr = "";
                        if(Acl.isAllowed('<?=$resourceId?>', 'modify')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Módosítás') + '" data-popup="tooltip" class="btn btn-default row-modify" data-id="' + full.groupId + '"><i class="icon-pencil3"></i> </button>'
                                + '&nbsp;';
                        }
                        if(Acl.isAllowed('<?=$resourceId?>', 'delete')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Törlés') + '" data-popup="tooltip" class="btn btn-default row-delete" data-id="' + full.groupId + '" data-toggle="modal" data-target="#groupDeleteModal"><i class="icon-trash"></i> </button>'
                                + '&nbsp;';
                        }
                        return buttonStr;
                    }
                }
            ],
            buttons: [

            ]
        });

        $('#dataTableGroup tbody').on('click', 'button', function () {
            var $button = $(this);

            if ($button.hasClass('row-modify')) {
                document.location.href='<?=$urls['modify']?>/' + $button.data('id');
                return;
            }
        } );
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableGroup" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?= $this->translate->t('Csoport'); ?></th>
                <th class="text-right"><?= $this->translate->t('Felhasználók'); ?></th>
                <th><?= $this->translate->t('Aktív'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<?php $this->partial("partials/modals/delete", array('className' => 'group', 'deleteUrl' => $urls['delete'])); ?>