<?php $identity = $this->auth->getIdentity(); ?>
<?= $this->tag->getDoctype() ?>
<html lang="<?php echo $identity->getInterfaceLanguage()->iso ?>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <?php echo $this->tag->getTitle(); ?>
    <?php
        $this->assets->outputCss();
        $this->assets->outputJs();
        $this->assets->outputInlineJs();
    ?>
</head>

<body class="login-container">

<!-- Main navbar -->
<!--<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/admin/auth">
            <img src="assets/images/logo_light.png" alt="">
        </a>
    </div>
</div>-->
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">

                <?= $this->getContent(); ?>

                <!-- Footer -->
                <div class="footer text-muted text-center">
                    Copyright &copy; 2018 ADSL | <?= $this->tag->version(); ?>
                </div>
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

</body>

</html>
