<?php
    $identity       = $this->auth->getIdentity();
    $originIdentity = $this->auth->getIdentity(true);
?>
<?= $this->tag->getDoctype() ?>
<html lang="<?php echo $identity->getInterfaceLanguage()->iso ?>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <?php echo $this->tag->getTitle(); ?>
    <?php
        $this->assets->outputCss();
        $this->assets->outputJs();
        $this->assets->outputInlineJs();
    ?>
</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin">
                ADSL
                <!--<img src="assets/images/logo_light.png" alt="">-->
            </a>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>

        <li class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li>
                    <a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-history"></i>
                        <span class="visible-xs-inline-block position-right"><?php echo $this->translate->t('Előzmények');?></span>
                    </a>
                    <?= $this->navigationHistory; ?>
                </li>
            </ul>

            <?php if ($this->app->isDebug()): ?>
            <p class="navbar-text">
                <span class="label bg-danger">
                    <i class="icon-exclamation"></i>&nbsp;<?=$this->translate->t('Tesztrendszer');?>
                </span>
            </p>
            <?php endif; ?>

            <ul class="nav navbar-nav navbar-right">
                <?php if($originIdentity): ?>

                    <li class="dropdown bounce">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="icon-users2"></i>
                            <span class="position-right"><?php echo $this->translate->t('Visszatérés az eredeti fiókba ...'); ?></span>
                        </a>

                        <div class="dropdown-menu dropdown-content">
                            <ul class="media-list dropdown-content-body width-300">
                                <li class="media">
                                    <div class="media-left"><img src="<?php echo $originIdentity->getAvatarImageUrl(); ?>" class="img-circle img-sm" alt=""></div>
                                    <div class="media-body">
                                        <a href="/admin/auth/change" class="media-heading text-semibold"><?php echo $originIdentity->getName(); ?></a>
                                        <span class="display-block text-muted text-size-small">
                                            <i class="icon-users"></i>&nbsp;
                                            <?php echo $originIdentity->group->getName(); ?>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                <?php endif; ?>

                <?=$this->tag->praxisSwitch();?>

                <?=$this->languageSwitch;?>

                <?php if($this->acl->isAllowedByIdentity('lab.profile', 'index') ||
                    $this->acl->isAllowedByIdentity('lab.auth', 'logout')
                ): ?>
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="<?php echo $identity->getAvatarImageUrl(); ?>" alt="">
                            <span><?php echo $identity->name; ?></span>
                            <i class="caret"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <?php if($this->acl->isAllowedByIdentity('lab.profile', 'password')): ?>
                                <li>
                                    <a href="/admin/profile/password">
                                        <i class="icon-key"></i> <?php echo $this->translate->t('Jelszó változtatás'); ?>
                                    </a>
                                </li>
                            <?php endif; ?>

                            <?php if($this->acl->isAllowedByIdentity('lab.profile', 'avatar')): ?>
                                <li>
                                    <a href="/admin/profile/avatar">
                                        <i class="icon-profile"></i> <?php echo $this->translate->t('Avatár'); ?>
                                    </a>
                                </li>
                            <?php endif; ?>

                            <?php if($this->acl->isAllowedByIdentity('lab.profile', 'config')): ?>
                                <li>
                                    <a href="/admin/profile/config">
                                        <i class="icon-hammer"></i> <?php echo $this->translate->t('Beállítások'); ?>
                                    </a>
                                </li>
                            <?php endif; ?>

                            <?php if($this->acl->isAllowedByIdentity('lab.auth', 'logout')): ?>
                                <li class="divider"></li>
                                <li>
                                    <a href="/admin/auth/logout">
                                        <i class="icon-switch2"></i> <?php echo $this->translate->t('Kijelentkezés'); ?>
                                    </a>
                                </li>
                            <?php endif; ?>
                        </ul>
                    </li>
                <?php endif; ?>

            </ul>
        </div>
    </div>
    <!-- /main navbar -->

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">

                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="/admin/profile" class="media-left">
                                    <img src="<?php echo $identity->getAvatarImageUrl(); ?>" class="img-circle img-sm" alt="">
                                </a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">
                                        <?php echo $identity->getName(); ?>
                                    </span>

                                    <div class="text-size-mini text-muted">
                                        <i class="icon-users text-size-small"></i>&nbsp;<?php echo $identity->group->groupName; ?>
                                    </div>
                                </div>
                                <?php if($this->acl->isAllowedByIdentity('lab.profile', 'index')): ?>
                                <div class="media-right media-middle">
                                    <ul class="icons-list">
                                        <li>
                                            <a href="/admin/profile"><i class="icon-cog3"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->

                    <?= $this->mainNavigation; ?>

                </div>
            </div>
            <!-- /main sidebar -->


            <!-- Main content -->
            <div class="content-wrapper">

                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <?php echo $this->breadcrumb; ?>
                        </div>

                        <?php echo $this->headingButtons; ?>
                    </div>
                </div>

                <div class="content">

                    <?php echo $this->flashSession->output(); ?>

                    <?= $this->searchBar; ?>

                    <?php echo $this->getContent(); ?>

                    <div class="footer text-muted">
                        Copyright &copy; 2018 ADSL | <?= $this->tag->version(); ?>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <?=$this->partial('partials/modals/hotKeys');?>
    <?=$this->partial('partials/crud/modals/browse');?>
    <?=$this->partial('partials/crud/modals/form');?>
</body>
</html>
