<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#dataTableRequestBrowse').DataTable({
            ajax: {
                url: '<?=$urls['dataTable']?>'
                , method: 'POST'
                , data: function (d) {
                    d.builderParamsStorage = 'browse';
                    d.builderParams = <?= json_encode($builderParams ?: []); ?>;
                }
            },
            columns: [
                {data: "itemIdentifier"},
                {data: "name"},
                {data: "price"},
                {data: "canBePriced"},
                {data: "monitoringDiscount"},
                {data: "quantitativeDiscount"},
                {data: "denied"},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        return '<button title="' + Translate._('Kiválasztás') + '" data-popup="tooltip" class="btn btn-default" data-entity="' + encodeURI(JSON.stringify(data)) + '"><i class="icon-target"></i> ' + Translate._('Kiválasztás') + '</button>';
                    }
                }
            ],
            buttons: []
        });

        $('#dataTableRequestBrowse tbody').on('click', 'button', function () {
            var crudBrowseModal = CrudBrowseModalRegistry.get();
            if (crudBrowseModal) {
                crudBrowseModal.select(
                    JSON.parse(decodeURI($(this).data('entity')))
                );
            }
        });
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableRequestBrowse" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?php echo $this->translate->t('Azonosító'); ?></th>
                <th><?php echo $this->translate->t('Név'); ?></th>
                <th><?php echo $this->translate->t('Nettó ár'); ?></th>
                <th><?php echo $this->translate->t('Árazható'); ?></th>
                <th><?php echo $this->translate->t('Monitoring kedvezmény'); ?></th>
                <th><?php echo $this->translate->t('Mennyiségi kedvezmény'); ?></th>
                <th><?php echo $this->translate->t('Tiltott'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
