<div class="m-20 p-20">
    <div class="row header border-bottom-praxis pb-10 mb-1">
        <div class="col-xs-2 pl-20">
            <img src="<?=$logo?>" class="logo img-responsive" alt="Praxislab">
        </div>
        <div class="col-xs-9 p-20 text-right">
            <b><?=\App\Model\Config::get('contactAddress')?></b>
        </div>
    </div>

    <div class="row text-center mb-10">
        <div class="col-xs-12 fs-20">
            <strong><?=$referral->getPraxis()->getName()?></strong>
        </div>
        <div class="col-xs-12">
            <?=$this->translate->t('Állatrovos név');?>: <?=$referral->getDoctor()->asString(false); ?>
        </div>
    </div>

    <div class="row mb-10">
        <div class="col-xs-7">
            <div class="clearfix border-bottom border-top border-left border-right border-grey-600 border-lg mb-10">
                <div class="col-xs-6">
                    <p><strong><?=$this->translate->t('Vonalkód');?>:</strong> <?=$referral->getPraxisSenderNumber()?></p>
                    <p><strong><?=$this->translate->t('Beküldve');?>:</strong> <?=$referral->arrivalDateAt?></p>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12 border-bottom border-top border-left border-right border-grey-800 border-lg m-5 ">
                        <span><?=$this->translate->t('Kérjük a vonalkódot ide ragasztani!');?></span>
                    </div>
                </div>
            </div>
            <div class="clearfix border-bottom border-top border-left border-right border-grey-600 border-lg">
                <?php $patient = $referral->getPatient();?>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-5">
                            <strong><?=$this->translate->t('Tulajdonos');?>:</strong>
                        </div>
                        <div class="col-xs-7">
                            <?=$patient->getOwner()->getName();?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <strong><?=$this->translate->t('Név');?>:</strong>
                        </div>
                        <div class="col-xs-7">
                            <?=$patient->patientName;?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <strong><?=$this->translate->t('Azonosító');?>:</strong>
                        </div>
                        <div class="col-xs-7">
                            <?=$patient->patientId;?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <strong><?=$this->translate->t('Faj');?>:</strong>
                        </div>
                        <div class="col-xs-7">
                            <?=$patient->getSpecies()->getName();?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <strong><?=$this->translate->t('Ivar');?>:</strong>
                        </div>
                        <div class="col-xs-7">
                            <?=$patient->getSexValue($patient->sex);?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <strong><?=$this->translate->t('Mikrochip');?>:</strong>
                        </div>
                        <div class="col-xs-7">
                            <?=$patient->chipIdentifier;?>
                        </div>
                    </div>
                    <?php if ($referral->isUrgent()): ?>
                        <div class="row">
                            <div class="col-xs-5">
                                <strong><?=$this->translate->t('Sürgős');?>:</strong>
                            </div>
                            <div class="col-xs-7">
                                <?=$this->tag->label($referral->urgent, \App\Model\Referral::getBooleanValue($referral->urgent));?>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <div class="col-xs-5 border-bottom border-top border-left border-right border-grey-600 border-lg">
            <div class="row border-bottom border-bottom-grey">
                <div class="col-xs-12">
                    <strong class="underlined"><?=$this->translate->t('Mintavételek')?></strong>
                </div>
            </div>
            <?php foreach ($referral->getSelectedReferralSamples() as $selectedReferralSample): ?>
                <?php if (is_object($selectedReferralSample->getReferralSample())) : ?>
                    <div class="row border-bottom border-bottom-grey">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <strong><?=$selectedReferralSample->getReferralSample()->getName()?></strong>:
                                </div>
                                <div class="col-xs-6">
                                    <p><?=$selectedReferralSample->createdAt?></p>
                                    <p><?=$selectedReferralSample->comment?></p>
                                    <?php if ($selectedReferralSample->isWithoutSample()) :?>
                                        <p><strong><?=$this->translate->t('Ebből a mintából nem tudok küldeni');?></strong></p>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php if ($selectedReferralSample->location): ?>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <strong><?=$this->translate->t('Helyeződés')?></strong>:
                                    </div>
                                    <div class="col-xs-6">
                                        <p><?=$selectedReferralSample->location?></p>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    </div>

    <?php if ($referral->medicalHistory || $referral->therapy || $referral->clinical): ?>
        <div class="row border-bottom border-top border-left border-right border-grey-600 border-lg mb-10">
            <div class="col-xs-12">
                <?php if ($referral->medicalHistory): ?>
                    <div class="row">
                        <div class="col-xs-6">
                            <strong><?=$this->translate->t('Kórelőzmény')?></strong>:
                        </div>
                        <div class="col-xs-6">
                            <?=$referral->medicalHistory?>
                        </div>
                    </div>
                <?php endif; ?>
                <?php if ($referral->therapy): ?>
                    <div class="row">
                        <div class="col-xs-6">
                            <strong><?=$this->translate->t('Terápia')?></strong>:
                        </div>
                        <div class="col-xs-6">
                            <?=$referral->therapy?>
                        </div>
                    </div>
                <?php endif; ?>
                <?php if ($referral->clinical): ?>
                    <div class="row">
                        <div class="col-xs-6">
                            <strong><?=$this->translate->t('Klinikum')?></strong>:
                        </div>
                        <div class="col-xs-6">
                            <?=$referral->clinical?>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>

    <?php
        $gross = $referral->gross;
        $courierPrice = $referral->getCourier()->price;
        $totalPriceWithoutCourier = $gross-$courierPrice;
        $webDiscountPrice = $totalPriceWithoutCourier * 4 / 100
    ?>
    <div class="row border-left border-right border-bottom border-top border-grey-600 border-lg mb-10">
        <div class="col-xs-12">
            <div class="row border-bottom border-grey-600 border-lg">
                <div class="col-xs-6">
                    <?=$this->translate->t('Tulajodonos név');?>: <strong><?=$patient->getOwner()->getName()?></strong>
                </div>
                <div class="col-xs-6">
                    <?=$this->translate->t('Állat név');?>: <strong><?=$patient->patientName?></strong>
                </div>
            </div>
            <div class="row border-bottom border-grey-600 border-lg">
                <div class="col-xs-1"></div>
                <div class="col-xs-7 border-left border-right border-grey-600 border-lg">
                    <?=$this->translate->t('Kiválasztott vizsgálatok');?>
                </div>
                <div class="col-xs-4">
                    <?=$this->translate->t('Bruttó ár');?>
                </div>
            </div>
            <?php foreach ($referral->getSelectedItems() as $selectedItem): ?>
                <div class="row border-bottom border-grey-600 border-lg">
                    <div class="col-xs-1">#</div>
                    <div class="col-xs-7 border-left border-right border-grey-600 border-lg">
                        <?=$selectedItem->getName();?>
                    </div>
                    <div class="col-xs-4">
                        <?=$this->tag->currency($selectedItem->price, $referral->getCurrency()->currencyCode)?>
                    </div>
                </div>
            <?php endforeach; ?>
            <?php if ($referral->isFromDoctor()): ?>
                <div class="row border-bottom border-grey-600 border-lg">
                    <div class="col-xs-1">#</div>
                    <div class="col-xs-7 border-left border-right border-grey-600 border-lg">
                        <?=$this->translate->t('Webes kedvezmény (-4%)');?>
                    </div>
                    <div class="col-xs-4">
                        <?=$this->tag->currency($webDiscountPrice, $referral->getCurrency()->currencyCode)?>
                    </div>
                </div>
            <?php endif; ?>
            <div class="row fs-20">
                <div class="col-xs-1"></div>
                <div class="col-xs-7 border-right border-grey-600 border-lg">
                    <strong><?=$this->translate->t('Összesen bruttó');?></strong>
                </div>
                <div class="col-xs-4">
                    <?=$this->tag->currency($totalPriceWithoutCourier, $referral->getCurrency()->currencyCode)?>
                </div>
            </div>
        </div>
    </div>

    <div class="row border-left border-right border-bottom border-top border-grey-600 border-lg">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <strong><?=$this->translate->t('Megrendelés adatok');?></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <strong><?=$this->translate->t('Bruttó összeg (vizsgálatok + futár)');?>: </strong>
                </div>
                <div class="col-xs-4">
                    <?=$this->tag->currency($gross, $referral->getCurrency()->currencyCode)?>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <strong><?=$this->translate->t('Futár');?> (<?=$referral->getCourier()->getName();?>): </strong>
                </div>
                <div class="col-xs-4">
                    <?=$this->tag->currency($courierPrice, $referral->getCurrency()->currencyCode)?>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 text-uppercase">
                    <strong><?=$this->translate->t('Fizetési mód');?>: </strong>
                </div>
                <div class="col-xs-4">
                    <?='Készpénz';?>
                </div>
            </div>
        </div>
    </div>
</div>
