<!-- Törlés modal -->
<div id="<?php echo $className; ?>DeleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"><?php echo $this->translate->t('Figyelem'); ?></h6>
            </div>

            <div class="modal-body">
                <h6 class="text-semibold modal-title"><?php echo $this->translate->t('Törlés megerősítése'); ?></h6>
                <p class="modal-text"><?php echo $this->translate->t('Biztosan törölni szeretné a kiválasztott elemet?'); ?></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate->t('Mégse'); ?></button>
                <button type="button" class="btn btn-warning" id="<?php echo $className; ?>Delete"><?php echo $this->translate->t('Törlés'); ?></button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        /* Delete Modal */
        $('#<?php echo $className?>DeleteModal').on('shown.bs.modal', function (e) {
            // sima gomb
            var id = $(e.relatedTarget)
                .parents('tr')
                .find('.row-delete')
                .data('id')
            ;

            $('#<?php echo $className?>Delete').off().on('click', function(){
                $('#<?php echo $className?>DeleteModal').hide();
                document.location.href='<?php echo $deleteUrl?>/' + id;
            });
        });
    });
</script>