<div id="hotKeysModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"><i class="icon-keyboard"></i> <?php echo $this->translate->t('Billentyű kombinációk'); ?></h6>
            </div>

            <div class="modal-body"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate->t('Ok'); ?></button>
            </div>
        </div>
    </div>
</div>