<!-- Törlés modal -->
<div id="userSendModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"><?php echo $this->translate->t('Figyelem'); ?></h6>
            </div>

            <div class="modal-body">
                <h6 class="text-semibold modal-title"><?php echo $this->translate->t('Belépési adatok újraküldése'); ?></h6>
                <p class="modal-text"><?php echo $this->translate->t('Biztosan újra el szeretné küldeni a felhasználónak a belépési adatait? A művelet során a rendszer új jelszót fog készíteni.'); ?></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate->t('Mégse'); ?></button>
                <button type="button" class="btn btn-warning" id="userSend"><?php echo $this->translate->t('Küldés'); ?></button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        /* Delete Modal */
        $('#userSendModal').on('shown.bs.modal', function (e) {
            // sima gomb
            var id = $(e.relatedTarget)
                .parents('tr')
                .find('.row-send')
                .data('id')
            ;

            $('#userSend').off().on('click', function(){
                $('#userSendModal').hide();
                document.location.href='<?=$url?>/' + id;
            });
        });
    });
</script>