<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#dataTableCron').DataTable({
            ajax: {
                url: '<?=$urls['dataTable']?>',
                method: 'POST'
            },
            columns: [
                {data: "className"},
                {data: "timing", class: "text-right", "render" : function (data, type, full, meta) {
                    return Translate._('%minute% perc', {minute : data});
                }},
                {data: "startedAt"},
                {data: "lastRunAt"},
                {data: "timeout", class: "text-right", "render" : function (data, type, full, meta) {
                    return Translate._('%minute% perc', {minute : data});
                }},
                {data: "status", searchable: false},
                {data: "isMonitor", searchable: false},
                {data: "isGarbage", searchable: false},
                {data: "isNeedToRun", searchable: false},
                {data: "active", searchable: false}
            ],
            buttons: []
        });
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableCron" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?php echo $this->translate->t('Feladat'); ?></th>
                <th><?php echo $this->translate->t('Időzítés'); ?></th>
                <th><?php echo $this->translate->t('Elindítva'); ?></th>
                <th><?php echo $this->translate->t('Befejeződött'); ?></th>
                <th><?php echo $this->translate->t('Várakozás'); ?></th>
                <th><?php echo $this->translate->t('Állapot'); ?></th>
                <th><?php echo $this->translate->t('Monitor'); ?></th>
                <th><?php echo $this->translate->t('Ellenőrizendő'); ?></th>
                <th><?php echo $this->translate->t('Várakozó'); ?></th>
                <th><?php echo $this->translate->t('Aktív'); ?></th>
            </tr>
            </thead>
        </table>
    </div>
</div>