<?php echo $this->getContent(); ?>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-4 col-lg-offset-4">
            <form class="form-horizontal" method="post" action="">
                <?php echo $form->renderDecorated(); ?>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">
                        <i class="icon-floppy-disk"></i>
                        <?php echo $this->translate->t('Mentés'); ?>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>