<script type="text/javascript">
    $(document).ready(function () {

        var buttons = [];

        if (Acl.isAllowed('<?=$resourceId;?>', 'createHasManyToMany')) {
            buttons.push({
                text        : '<i class="icon-plus3"></i> ' + Translate._('Új létrehozása')
                , className : 'btn btn-default'
                , action    : function (e, dt, node, config) {
                    document.location.href = '<?=$urls['createHasManyToMany'];?>';
                }
            });
        }

        if (Acl.isAllowed('<?=$resourceId;?>', 'assignHasManyToMany')) {
            buttons.push({
                text        : '<i class="icon-search4"></i> ' + Translate._('Tallózás')
                , className : 'btn btn-default'
                , action    : function (e, dt, node, config) {
                    var crudBrowseModal = new CrudBrowseModal('panel');
                    crudBrowseModal
                        .setCallbacks({
                            select : function(entity){
                                document.location.href = '<?=$urls['assignHasManyToMany'];?>/' + entity.itemId;
                            }
                            , builderParams: <?= json_encode($builderParams ?: []); ?>
                        })
                        .browse($(node))
                    ;
                }
            });
        }

        var table = $('#dataTableRequest').DataTable({
            ajax: {
                url: '<?=$urls['dataTableHasManyToMany']?>',
                method: 'POST'
            },
            columns: [
                {data: "itemIdentifier"},
                {data: "name"},
                {data: "price"},
                {data: "canBePriced"},
                {data: "monitoringDiscount"},
                {data: "quantitativeDiscount"},
                {data: "denied"},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        var buttonStr = "";

                        if(Acl.isAllowed('<?=$resourceId?>', 'modify')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Módosítás') + '" data-popup="tooltip" class="btn btn-default row-modify" data-id="' + full.itemId + '"><i class="icon-pencil3"></i> </button>'
                                + '&nbsp;';
                        }

                        if(Acl.isAllowed('<?=$resourceId?>', 'delete')) {
                            buttonStr = buttonStr
                                + '<button title="' + Translate._('Törlés') + '" data-popup="tooltip" class="btn btn-default row-delete" data-id="' + full.itemId + '" data-toggle="modal" data-target="#requestDeleteModal"><i class="icon-trash"></i> </button>'
                                + '&nbsp;';
                        }

                        return buttonStr;
                    }
                }
            ],
            buttons: buttons
        });

        $('#dataTableRequest tbody').on('click', 'button', function () {
            var $button = $(this);

            if ($button.hasClass('row-view')) {
                document.location.href='<?=$urls['viewHasManyToMany']?>/' + $button.data('id');
                return;
            }

            if ($button.hasClass('row-modify')) {
                document.location.href='<?=$urls['modifyHasManyToMany']?>/' + $button.data('id');
                return;
            }
        });
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableRequest" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?php echo $this->translate->t('Azonosító'); ?></th>
                <th><?php echo $this->translate->t('Név'); ?></th>
                <th><?php echo $this->translate->t('Nettó ár'); ?></th>
                <th><?php echo $this->translate->t('Árazható'); ?></th>
                <th><?php echo $this->translate->t('Monitoring kedvezmény'); ?></th>
                <th><?php echo $this->translate->t('Mennyiségi kedvezmény'); ?></th>
                <th><?php echo $this->translate->t('Tiltott'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<?php $this->partial("partials/modals/delete", array('className' => 'request', 'deleteUrl' => $urls['deleteHasManyToMany'])); ?>

