<script type="text/javascript">
    $(document).ready(function () {

        var table = $('#dataTableAddressBrowse').DataTable({
            ajax: {
                url: '<?=$urls['dataTable']?>',
                method: 'POST'
                , data: function (d) {
                    d.builderParams = <?= json_encode($builderParams ?: []); ?>;
                }
            },
            columns: [
                {data: "addressName"},
                {data: "settlement"},
                {data: "zip"},
                {data: "country"},
                {data: "region"},
                {data: "line1"},
                {data: "line2"},
                {data: "addressTypes"},
                {
                    targets: -1,
                    data: null,
                    orderable: false,
                    searchable: false,
                    width: '1%',
                    class: 'text-nowrap',
                    "render": function ( data, type, full, meta ) {
                        return '<button title="' + Translate._('Kiválasztás') + '" data-popup="tooltip" class="btn btn-default" data-entity="' + encodeURI(JSON.stringify(data)) + '"><i class="icon-target"></i> ' + Translate._('Kiválasztás') + '</button>';
                    }
                }
            ],
            buttons: []
        });

        $('#dataTableAddressBrowse tbody').on('click', 'button', function () {
            var crudBrowseModal = CrudBrowseModalRegistry.get();
            if (crudBrowseModal) {
                crudBrowseModal.select(
                    JSON.parse(decodeURI($(this).data('entity')))
                );
            }
        });
    });
</script>

<div class="panel panel-flat">
    <div class="panel-body">
        <table id="dataTableAddressBrowse" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><?php echo $this->translate->t('Név'); ?></th>
                <th><?php echo $this->translate->t('Település'); ?></th>
                <th><?php echo $this->translate->t('Irányítószám'); ?></th>
                <th><?php echo $this->translate->t('Ország'); ?></th>
                <th><?php echo $this->translate->t('Régió'); ?></th>
                <th><?php echo $this->translate->t('Cím'); ?></th>
                <th><?php echo $this->translate->t('Cím 2'); ?></th>
                <th><?php echo $this->translate->t('Cím típus'); ?></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
